.heroSection {
  height: 100vh;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* auto-fit : Le navigateur va essayer de placer autant de colonnes de taille fixe que possible dans la largeur disponible.
    minmax(200px, 1fr) : Chaque colonne aura une largeur minimale de 200px et une largeur maximale de 1fr. 
  Cela signifie que si l'espace disponible est inférieur à 200px par colonne, les colonnes s'empileront automatiquement en une seule colonne 
 (car auto-fit réduit le nombre de colonnes).
  Avec cette configuration, tant que l'espace est suffisant pour afficher deux colonnes de 200px ou plus, elles resteront sur la même ligne.
   Si l'espace devient trop étroit, la grille passera automatiquement à une seule colonne sans avoir besoin de media queries.
   La grille s'ajuste automatiquement en fonction de l'espace disponible, quel que soit le dispositif ou la taille de l'écran.*/
  gap: 8px;

  .contentContainer {
    border: 1px solid red;
  }

  .imageContainer {
    position: relative;
    background-color: grey;
    border: 1px solid red;

    .image {
      object-fit: contain;
    }
  }
}
