.main {
  padding: calc(100px + 40px) 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  border: 1px solid black;

  .pageHeader {
    position: relative;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(141, 141, 141, 0.7),
      rgba(0, 0, 0, 0)
    );
    border-image-slice: 1;
    // gradient pour l'ombrage au dessus de la bordure top:
    &::before {
      content: '';
      position: absolute;
      top: -16px;
      width: 100%;
      height: 15px;
      background: radial-gradient(
        ellipse at bottom,
        /* #8d8d8d avec alpha 0.7 */ rgba(141, 141, 141, 0.7),
        /* #bbbbbb avec alpha 0.6 */ rgba(187, 187, 187, 0.6) 22%,
        /* #cecece avec alpha 0.5 */ rgba(206, 206, 206, 0.2) 50%,
        /* #e5e6e7 avec alpha 0.3 */ rgba(229, 230, 231, 0.1) 70%,
        /* Transition vers transparent */ rgba(229, 230, 231, 0) 100%
      );
    }
    // gradient pour l'ombrage en dessous de la bordure bottom:
    &::after {
      content: '';
      position: absolute;
      bottom: -16px;
      width: 100%;
      height: 15px;
      background: radial-gradient(
        ellipse at top,
        /* #8d8d8d avec alpha 0.7 */ rgba(141, 141, 141, 0.7),
        /* #bbbbbb avec alpha 0.6 */ rgba(187, 187, 187, 0.6) 22%,
        /* #cecece avec alpha 0.5 */ rgba(206, 206, 206, 0.2) 50%,
        /* #e5e6e7 avec alpha 0.3 */ rgba(229, 230, 231, 0.1) 70%,
        /* Transition vers transparent */ rgba(229, 230, 231, 0) 100%
      );
    }

    .pageTitle {
      text-align: center;
      font-size: 38px;
      text-transform: uppercase;
      color: #003e43;
      .highlight {
        font-weight: 600;
        color: #007b87;
        background: radial-gradient(
          ellipse farthest-corner at right center,
          #00b0bd 0%,
          #007b87 68%,
          #003e43 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .decorativeCirclesContainer {
      display: flex;
      justify-content: center;
      gap: 5px;

      .circle1,
      .circle2,
      .circle3,
      .circle4 {
        position: relative;
        width: 10px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        // Ombre interne dans les cercles :
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          box-shadow: inset -3px 3px 3px #bbbbbb, inset 2px -2px 2px #ffffff;
          mix-blend-mode: multiply;
        }
      }
      // Couleur pour chaque cercle :
      .circle1 {
        background-color: #003e43;
      }
      .circle2 {
        background-color: #007b87;
      }
      .circle3 {
        background-color: #00a4b1;
      }
      .circle4 {
        background-color: #00b0bd;
      }
    }
  }

  .cardsSection {
    max-width: 1440px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    border: 1px solid red;

    .projectCard {
      display: flex;
      flex-direction: column;
      gap: 40px;
      border: 1px solid blue;
      /*------------------ Ecran Moyen ------------------*/
      @media screen and (min-width: 768px) {
        padding: 40px;
        border-radius: 20px;
        box-shadow: -8px 8px 15px #cecece, 8px -8px 15px #fcfcfc;
      }

      .informationsContainer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        border: 1px solid green;

        .projectTitleContainer {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .projectTitle {
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
          }
          .titleSeparator {
            height: 10px;
            background-color: #f0f0f0;
            flex-grow: 1;
            box-shadow: inset -2px 2px 2px #cecece, inset 2px -2px 2px #fcfcfc;
            border-radius: 20px;
          }
        }

        .projectDescriptionsContainer {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }

      .detailsContainer {
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 20px;
        box-shadow: inset -8px 8px 15px #cecece, inset 8px -8px 15px #fcfcfc;
        border: 1px solid green;
        /*------------------ Ecran Moyen ------------------*/
        @media screen and (min-width: 768px) {
          flex-direction: row;
          align-items: baseline;
          justify-content: center;
          gap: 40px;
        }

        .itemContainer {
          width: 100%;
          max-width: 190px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          border: 1px solid red;

          .itemCircleContainer {
            width: 80px;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: linear-gradient(45deg, #cecece 25%, #ffffff 75%);
            box-shadow: -6px 6px 12px #646464;
            .circle {
              width: 75px;
              aspect-ratio: 1 / 1;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background: linear-gradient(45deg, #fcfcfc 0%, #e8e8e8 100%);
              .icon {
                filter: drop-shadow(-2px 2px 1px #bbbbbb)
                  drop-shadow(2px -2px 1px #ffffff);
              }
            }
          }

          .itemInformationsContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: 1px solid orange;

            .itemTitle {
              text-align: center;
            }

            .itemDescriptionsList {
              display: flex;
              flex-direction: column;
              gap: 5px;
              .itemDescription {
                .decorativePoint {
                  position: relative;
                  width: 10px;
                  aspect-ratio: 1/1;
                  margin-right: 5px;
                  display: inline-block;
                  border-radius: 50%;
                  background-color: red;
                  // Ombre interne dans les cercles :
                  &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    box-shadow: inset -3px 3px 3px #bbbbbb,
                      inset 2px -2px 2px #ffffff;
                    mix-blend-mode: multiply;
                  }
                }
                // couleur des points;
                .point1 {
                  background-color: #007b87;
                }
                .point2 {
                  background-color: #00a4b1;
                }
                .point3 {
                  background-color: #00b0bd;
                }
              }
            }

            // .itemDescription {
            //   display: flex;
            //   flex-direction: column;
            //   .decorativePoint {
            //     position: relative;

            //     width: 10px;
            //     aspect-ratio: 1/1;
            //     border-radius: 50%;
            //     background-color: red;
            //     // Ombre interne dans les cercles :
            //     &::after {
            //       content: '';
            //       position: absolute;
            //       width: 100%;
            //       height: 100%;
            //       border-radius: 50%;
            //       box-shadow: inset -3px 3px 3px #bbbbbb,
            //         inset 2px -2px 2px #ffffff;
            //       mix-blend-mode: multiply;
            //     }
            //   }
            // }
          }
        }
      }
    }
  }
}

// .main {
//   padding: calc(100px + 40px) 0px 40px;
//   display: flex;
//   flex-direction: column;
//   gap: 40px;
//   border: 1px solid black;

//   .pageHeader {
//     position: relative;
//     width: 100%;
//     padding: 40px 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 10px;
//     border: 1px solid transparent;
//     border-image: linear-gradient(
//       90deg,
//       rgba(0, 0, 0, 0),
//       rgba(141, 141, 141, 0.7),
//       rgba(0, 0, 0, 0)
//     );
//     border-image-slice: 1;
//     // gradient pour l'ombrage au dessus de la bordure top:
//     &::before {
//       content: '';
//       position: absolute;
//       top: -16px;
//       width: 100%;
//       height: 15px;
//       background: radial-gradient(
//         ellipse at bottom,
//         /* #8d8d8d avec alpha 0.7 */ rgba(141, 141, 141, 0.7),
//         /* #bbbbbb avec alpha 0.6 */ rgba(187, 187, 187, 0.6) 22%,
//         /* #cecece avec alpha 0.5 */ rgba(206, 206, 206, 0.2) 50%,
//         /* #e5e6e7 avec alpha 0.3 */ rgba(229, 230, 231, 0.1) 70%,
//         /* Transition vers transparent */ rgba(229, 230, 231, 0) 100%
//       );
//     }
//     // gradient pour l'ombrage en dessous de la bordure bottom:
//     &::after {
//       content: '';
//       position: absolute;
//       bottom: -16px;
//       width: 100%;
//       height: 15px;
//       background: radial-gradient(
//         ellipse at top,
//         /* #8d8d8d avec alpha 0.7 */ rgba(141, 141, 141, 0.7),
//         /* #bbbbbb avec alpha 0.6 */ rgba(187, 187, 187, 0.6) 22%,
//         /* #cecece avec alpha 0.5 */ rgba(206, 206, 206, 0.2) 50%,
//         /* #e5e6e7 avec alpha 0.3 */ rgba(229, 230, 231, 0.1) 70%,
//         /* Transition vers transparent */ rgba(229, 230, 231, 0) 100%
//       );
//     }

//     .pageTitle {
//       text-align: center;
//       font-size: 38px;
//       text-transform: uppercase;
//       color: #003e43;
//       .highlight {
//         font-weight: 600;
//         color: #007b87;
//         background: radial-gradient(
//           ellipse farthest-corner at right center,
//           #00b0bd 0%,
//           #007b87 68%,
//           #003e43 100%
//         );
//         background-clip: text;
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//       }
//     }

//     .decorativeCirclesContainer {
//       display: flex;
//       justify-content: center;
//       gap: 5px;

//       .circle1,
//       .circle2,
//       .circle3,
//       .circle4 {
//         position: relative;
//         width: 10px;
//         aspect-ratio: 1/1;
//         border-radius: 50%;
//         // Ombre interne dans les cercles :
//         &::after {
//           content: '';
//           position: absolute;
//           width: 100%;
//           height: 100%;
//           border-radius: 50%;
//           box-shadow: inset -3px 3px 3px #bbbbbb, inset 2px -2px 2px #ffffff;
//           mix-blend-mode: multiply;
//         }
//       }
//       // Couleur pour chaque cercle :
//       .circle1 {
//         background-color: #003e43;
//       }
//       .circle2 {
//         background-color: #007b87;
//       }
//       .circle3 {
//         background-color: #00a4b1;
//       }
//       .circle4 {
//         background-color: #00b0bd;
//       }
//     }
//   }

//   .cardsSection {
//     padding: 0 40px;
//     display: flex;
//     flex-direction: column;
//     gap: 40px;
//     border: 1px solid red;

//     .projectCard {
//       display: flex;
//       flex-direction: column;
//       gap: 40px;
//       border: 1px solid blue;

//       .informationsContainer {
//         display: flex;
//         flex-direction: column;
//         gap: 40px;
//         border: 1px solid green;

//         .projectTitleContainer {
//           display: flex;
//           flex-direction: column;
//           gap: 20px;
//           border: 1px solid red;

//           .projectTitle {
//             font-size: 24px;
//             font-weight: 500;
//             text-transform: uppercase;
//           }
//           .titleSeparator {
//             height: 10px;
//             background-color: #f0f0f0;
//             flex-grow: 1;
//             box-shadow: inset -2px 2px 2px #cecece, inset 2px -2px 2px #fcfcfc;
//             border-radius: 20px;
//           }
//         }

//         .projectDescriptionsContainer {
//           display: flex;
//           flex-direction: column;
//           gap: 20px;
//           border: 1px solid red;
//         }
//       }

//       .detailsContainer {
//         width: 100%;
//         padding: 40px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 20px;
//         border-radius: 20px;
//         box-shadow: inset -8px 8px 15px #cecece, inset 8px -8px 15px #fcfcfc;
//         border: 1px solid green;

//         .itemContainer {
//           width: 100%;
//           max-width: 190px;
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//           gap: 20px;
//           border: 1px solid red;

//           .itemCircleContainer {
//             width: 80px;
//             aspect-ratio: 1/1;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             border-radius: 50%;
//             background: linear-gradient(45deg, #cecece 25%, #ffffff 75%);
//             box-shadow: -6px 6px 12px #646464;
//             .circle {
//               width: 75px;
//               aspect-ratio: 1 / 1;
//               display: flex;
//               justify-content: center;
//               align-items: center;
//               border-radius: 50%;
//               background: linear-gradient(45deg, #fcfcfc 0%, #e8e8e8 100%);
//               .icon {
//                 // border: 1px solid red;
//                 filter: drop-shadow(-2px 2px 1px #bbbbbb)
//                   drop-shadow(2px -2px 1px #ffffff);
//               }
//             }
//           }

//           .itemInformationsContainer {
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             gap: 20px;
//             border: 1px solid orange;

//             .itemTitle {
//               text-align: center;
//             }

//             .itemDescriptionsList {
//               display: flex;
//               flex-direction: column;
//               gap: 5px;
//               .itemDescription {
//                 .decorativePoint {
//                   position: relative;
//                   width: 10px;
//                   aspect-ratio: 1/1;
//                   margin-right: 5px;
//                   display: inline-block;
//                   border-radius: 50%;
//                   background-color: red;
//                   // Ombre interne dans les cercles :
//                   &::after {
//                     content: '';
//                     position: absolute;
//                     width: 100%;
//                     height: 100%;
//                     border-radius: 50%;
//                     box-shadow: inset -3px 3px 3px #bbbbbb,
//                       inset 2px -2px 2px #ffffff;
//                     mix-blend-mode: multiply;
//                   }
//                 }
//                 // couleur des points;
//                 .point1 {
//                   background-color: #007b87;
//                 }
//                 .point2 {
//                   background-color: #00a4b1;
//                 }
//                 .point3 {
//                   background-color: #00b0bd;
//                 }
//               }
//             }

//             // .itemDescription {
//             //   display: flex;
//             //   flex-direction: column;
//             //   .decorativePoint {
//             //     position: relative;

//             //     width: 10px;
//             //     aspect-ratio: 1/1;
//             //     border-radius: 50%;
//             //     background-color: red;
//             //     // Ombre interne dans les cercles :
//             //     &::after {
//             //       content: '';
//             //       position: absolute;
//             //       width: 100%;
//             //       height: 100%;
//             //       border-radius: 50%;
//             //       box-shadow: inset -3px 3px 3px #bbbbbb,
//             //         inset 2px -2px 2px #ffffff;
//             //       mix-blend-mode: multiply;
//             //     }
//             //   }
//             // }
//           }
//         }
//       }
//     }
//   }
// }
