@import '@/styles/variables';
@import '@/styles/mixins';

// .main {
//   padding: 100px 0 0;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 64px;
//   border: 1px solid black;
//   /*------------------ Tablet ------------------*/
//   @media screen and (min-width: 768px) {
//     gap: 80px;
//     /*------------------ Desktop ------------------*/
//     @media screen and (min-width: 1200px) {
//       gap: 120px;
//     }
//   }

//   .pageHeader {
//     @include page-header;
//   }

//   .realisationsSection {
//     width: calc(
//       100% - 64px
//     ); // 64px = 2x 32px pour avoir un espace de 32px de chaques cotées
//     display: flex;
//     flex-direction: column;
//     gap: 40px;
//     /*------------------ Tablet to Desktop ------------------*/
//     @media screen and (min-width: 768px) {
//       width: calc(100% - 80px);
//       max-width: 1200px;
//       gap: 64px;
//       /*------------------ Desktop ------------------*/
//       @media screen and (min-width: 1200px) {
//         width: calc(100% - 160px);
//         gap: 80px;
//       }
//     }

//     .projectContainer {
//       display: flex;
//       flex-direction: column;
//       gap: 32px;
//       /*------------------ Tablet to Desktop ------------------*/
//       @media screen and (min-width: 768px) {
//         display: grid;
//         grid-template-columns: 1fr 1fr; // 2 colonnes de meme largeur
//         grid-template-rows: auto auto; // 2 lignes
//         grid-template-areas:
//           'title description'
//           'result result';
//         gap: 40px;
//         // Inverser les zones pour les articles pairs
//         &:nth-of-type(even) {
//           grid-template-areas:
//             'description title'
//             'result result';
//         }
//         /*------------------ to Desktop ------------------*/
//         @media screen and (min-width: 1200px) {
//           gap: 80px;
//         }
//       }

//       .projectTitleContainer {
//         display: flex;
//         flex-direction: column;
//         /*------------------ Tablet ------------------*/
//         @media screen and (min-width: 768px) {
//           grid-area: title;
//         }

//         .separator {
//           width: 100%;
//           height: 12px;
//           border-radius: 16px;
//           border: 1px solid black;
//         }

//         .projectName {
//           padding-top: 32px;
//           font-size: 30px;
//           font-weight: 600;
//           text-transform: uppercase;
//           @include sub-titles-style;
//           /*------------------ Tablet to Desktop ------------------*/
//           @media screen and (min-width: 768px) {
//             padding-top: 0;
//             flex: 1;
//             align-content: center;
//             text-align: center;
//             /*------------------ Desktop ------------------*/
//             @media screen and (min-width: 1200px) {
//               padding: 40px;
//             }
//           }
//         }
//       }

//       .descriptionCard {
//         padding: 20px;
//         display: flex;
//         flex-direction: column;
//         gap: 8px;
//         border-radius: 16px;
//         @include paragraphe-text-style;
//         background: linear-gradient(
//           45deg,
//           $color-slate-grey-4 0%,
//           $color-slate-grey-2 100%
//         );
//         box-shadow: -2.8px 2.8px 2.2px rgba(28, 32, 36, 0.034),
//           -6.7px 6.7px 5.3px rgba(28, 32, 36, 0.048),
//           -12.5px 12.5px 10px rgba(28, 32, 36, 0.06),
//           -22.3px 22.3px 17.9px rgba(28, 32, 36, 0.072),
//           -41.8px 41.8px 33.4px rgba(28, 32, 36, 0.086),
//           -100px 100px 80px rgba(28, 32, 36, 0.12),
//           inset 2px -2px 4px rgba(28, 32, 36, 0.55), inset -2px 2px 4px white;
//         /*------------------ Tablet to Desktop ------------------*/
//         @media screen and (min-width: 768px) {
//           grid-area: description;
//           /*------------------ Desktop ------------------*/
//           @media screen and (min-width: 1200px) {
//             padding: 40px;
//           }
//         }
//       }

//       .resultsItemsList {
//         display: flex;
//         flex-direction: column;
//         gap: 20px;
//         /*------------------ Tablet to Desktop ------------------*/
//         @media screen and (min-width: 768px) {
//           grid-area: result;
//           flex-direction: row;
//           gap: 40px;
//           @media screen and (min-width: 1200px) {
//             gap: 80px;
//           }
//         }

//         .item {
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//           gap: 8px;
//           border: 1px solid black;
//           /*------------------ Tablet ------------------*/
//           @media screen and (min-width: 768px) {
//             flex: 1;
//             gap: 16px;
//           }

//           .iconContainer {
//             width: 80px;
//             aspect-ratio: 1/1;
//             border-radius: 50%;
//             border: 1px solid black;
//           }

//           .itemTitle {
//             font-size: 17px;
//             font-weight: 600;
//             color: $color-slate-grey-12;
//           }

//           .itemDescription {
//             text-align: center;
//             @include paragraphe-text-style;
//           }
//         }
//       }
//     }
//   }
// }

.main {
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  border: 1px solid black;

  .pageHeader {
    @include page-header;
  }

  .realisationsSection {
    width: calc(
      100% - 64px
    ); // 64px = 2x 32px pour avoir un espace de 32px de chaques cotées
    display: flex;
    flex-direction: column;
    gap: 64px;
    border: 1px solid red;
    /*------------------ Tablet to Desktop ------------------*/
    @media screen and (min-width: 768px) {
      max-width: 1200px;
    }

    .projectContainer {
      display: flex;
      flex-direction: column;
      gap: 32px;
      border: 1px solid black;

      .projectTitleCard {
        border: 1px solid black;

        .projectName {
          font-size: 30px;
          font-weight: 600;
          text-transform: uppercase;
          @include sub-titles-style;
        }
      }

      .projectDescriptionCard {
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include paragraphe-text-style;
      }

      .projectResultsItemsList {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid black;

        .itemCard {
          padding: 16px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          border: 1px solid black;

          .iconContainer {
            width: 80px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 1px solid black;
          }

          .itemTitle {
            font-size: 17px;
            font-weight: 600;
            color: $color-slate-grey-12;
          }

          .itemDescription {
            text-align: center;
            @include paragraphe-text-style;
          }
        }
      }
    }
  }
}
