.buttonContainer {
  width: 60px; // Largeur du bouton
  height: 60px; // Hauteur du bouton

  display: flex; // Utilise Flexbox pour aligner le contenu
  justify-content: center; // Centre le contenu horizontalement
  align-items: center; // Centre le contenu verticalement

  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.15); // Ajoute une ombre autour du bouton pour donner un effet de relief

  border-radius: 50%; // Donne une forme circulaire au bouton
  border: solid 8px #ececec; // Applique une bordure grise de 8px

  transition: all 0.3s ease-in-out; // Transition fluide pour les changements d'état du bouton
  cursor: pointer;
}

.active {
  /* Lorsque le bouton est actif, ajoute une ombre intérieure pour simuler un effet enfoncé */
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.15),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}

.burger {
  width: 24px; // Largeur de l'icône burger
  height: 18px; // Hauteur totale de l'icône burger
  display: flex; // Utilise Flexbox pour aligner les lignes verticalement
  flex-direction: column; // Aligne les lignes en colonne
  justify-content: space-between; // Espacement uniforme entre les lignes

  &-line {
    width: 100%; // Les lignes remplissent toute la largeur de l'icône burger
    height: 2px; // Épaisseur des lignes
    background-color: #000; // Couleur noire des lignes
    transition: all 0.3s ease-in-out; // Transition fluide pour les animations des lignes
  }

  &.open {
    // Styles appliqués lorsque le burger est ouvert (isActive est vrai)
    .line1 {
      transform: rotate(45deg) translate(6px, 5.5px); // Rotation et translation de la première ligne
      background-color: cyan; // Change la couleur de la ligne en cyan
    }

    .line2 {
      opacity: 0; // Cache complètement la deuxième ligne
    }

    .line3 {
      transform: rotate(-45deg) translate(6px, -5.5px); // Rotation et translation de la troisième ligne
      background-color: cyan; // Change la couleur de la ligne en cyan
    }
  }
}

.menuPanel {
  z-index: 1000; // Positionne le panneau au-dessus des autres éléments
  position: fixed; // Position fixe pour couvrir toute la zone
  top: 100px; // Commence juste sous le header
  left: 0; // Aligne sur le bord gauche de la fenêtre
  width: 100%; // Couvre toute la largeur de l'écran
  height: calc(100% - 100px); // Couvre toute la hauteur sous le header

  opacity: 0; // Rendu invisible par défaut
  visibility: hidden; // Cache le panneau par défaut
  background-color: rgba(0, 0, 0, 0.7); // Fond semi-transparent noir
  transition: opacity 0.5s ease, visibility 0.5s ease; // Transition fluide pour l'apparition/disparition

  &.open {
    // Styles appliqués lorsque le panneau est ouvert (isActive est vrai)
    opacity: 1; // Rend le panneau visible
    visibility: visible; // Le rend cliquable et visible
  }

  .menuContent {
    height: 100%; // Prend toute la hauteur du panneau
    display: flex; // Utilise Flexbox pour centrer le contenu
    justify-content: center; // Centre le contenu horizontalement
    align-items: center; // Centre le contenu verticalement

    color: white; // Texte blanc
    font-size: 1.5rem; // Taille du texte relativement grande
  }
}
