.mainContainer {
  position: relative;
  height: 400px; // ! A MODIFIER
  border: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(141, 141, 141, 0.7),
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
  margin: 10px;
  // gradient pour l'ombrage au dessus de la bordure top:
  &::before {
    content: '';
    position: absolute;
    top: -16px;
    width: 100%;
    height: 15px;
    background: radial-gradient(
      ellipse at bottom,
      /* #8d8d8d avec alpha 0.7 */ rgba(141, 141, 141, 0.7),
      /* #bbbbbb avec alpha 0.6 */ rgba(187, 187, 187, 0.6) 22%,
      /* #cecece avec alpha 0.5 */ rgba(206, 206, 206, 0.2) 50%,
      /* #e5e6e7 avec alpha 0.3 */ rgba(229, 230, 231, 0.1) 70%,
      /* Transition vers transparent */ rgba(229, 230, 231, 0) 100%
    );
  }
  // gradient pour l'ombrage en dessous de la bordure bottom:
  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    width: 100%;
    height: 15px;
    background: radial-gradient(
      ellipse at top,
      /* #8d8d8d avec alpha 0.7 */ rgba(141, 141, 141, 0.7),
      /* #bbbbbb avec alpha 0.6 */ rgba(187, 187, 187, 0.6) 22%,
      /* #cecece avec alpha 0.5 */ rgba(206, 206, 206, 0.2) 50%,
      /* #e5e6e7 avec alpha 0.3 */ rgba(229, 230, 231, 0.1) 70%,
      /* Transition vers transparent */ rgba(229, 230, 231, 0) 100%
    );
  }
  /*------------------ Desktop------------------*/
  @media screen and (min-width: 768px) {
    width: 100%;
    height: 80%;
  }
}
