.welcomeSection {
  height: calc(100vh - 100px);
  border: 1px solid black;

  .squaresContainer {
    height: 100%;
    width: 100%;
    border: 1px solid red;
    display: flex;

    justify-content: center;
    align-items: center;

    .contentSquare {
      z-index: 99;
      position: absolute;
      border: 1px solid orange;
      // background-color: orange;
      width: calc(100% / sqrt(2));
      max-width: calc(600px / sqrt(2));
      min-width: calc(280px / sqrt(2));
      transform: rotate(45deg);
      aspect-ratio: 1/1;
    }

    .square {
      z-index: 1;
      position: relative;
      border: 1px solid orange;
      width: calc(100% / sqrt(2));
      max-width: calc(600px / sqrt(2));
      min-width: calc(280px / sqrt(2));
      transform: rotate(45deg);
      aspect-ratio: 1/1;

      background: linear-gradient(145deg, #ffffff, #e6e6e6);
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
      border: 1px solid white;
      background-color: #ececec;
      box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.15);

      display: flex;
      justify-content: center;
      align-items: center;

      .textContainer {
        border: 1px solid yellow;
        transform: rotate(-45deg);
      }

      .square2 {
        z-index: 2;
        position: absolute;
        bottom: -60%; /* Place the square at the bottom */
        left: 50%; /* Align the left edge of the square to the center */
        transform: translateX(-50%); /* Center the square horizontally */
        width: 72.31%;
        aspect-ratio: 1/1;

        border: 1px solid white;
        background-color: #ececec;
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
          10px 10px 15px rgba(70, 70, 70, 0.15);
      }

      .square3 {
        position: absolute;
        bottom: 87%;
        left: 72%;
        // transform: translateX(-50%); /* Center the square horizontally */
        border: 1px solid blue;
        width: 67.69%;
        aspect-ratio: 1/1;
      }

      .square4 {
        position: absolute;
        bottom: 107%;
        left: 5%;
        border: 1px solid green;
        width: 58.46%;
        aspect-ratio: 1/1;
      }

      .square5 {
        position: absolute;
        top: 62%;
        right: 112%;
        border: 1px solid green;
        width: 50.77%;
        aspect-ratio: 1/1;
      }

      .square6 {
        position: absolute;
        top: 130%;
        right: 83%;
        border: 1px solid yellowgreen;
        width: 47.69%;
        aspect-ratio: 1/1;
        background-color: grey;
      }

      .square7 {
        position: absolute;
        bottom: 22%;
        left: 112%;
        border: 1px solid yellowgreen;
        width: 46.15%;
        aspect-ratio: 1/1;

        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
      }

      .triange6 {
        position: absolute;
        background: linear-gradient(90deg, transparent 0%, #6c6c6c 100%);
        // background-color: fuchsia;
        clip-path: polygon(
          50% 50%,
          /* Center point of square */ 50% 100%,
          /* Bottom-left corner of square6 */ 100% 100%
            /* Bottom-right corner of square6 */
        );
        width: 133%;
        height: 227%;
        z-index: -2; /* Placed under the square */
        transform: rotate(45deg);
      }
    }
  }
}
