@import './variables';

@mixin font-style-carved {
  color: transparent;
  background: $color-primary-dark;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: -2px 4px 2px rgba(255, 255, 255, 0.3);
}

@mixin home-title-section {
  display: flex;
  align-items: center;
  .title {
    padding-right: 20px;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    @include font-style-carved;
    /*------------------ Laptop ------------------*/
    @media screen and (min-width: 768px) {
      padding-right: 40px;
    }
  }
  .titleSeparator {
    height: 10px;
    background-color: #f0f0f0;
    flex-grow: 1; /* S'étend pour remplir l'espace disponible */
    box-shadow: inset -2px 2px 2px #cecece, inset 2px -2px 2px #fcfcfc;
    border-radius: 20px;
  }
}
