@import './variables';

@mixin font-style-carved {
  color: transparent;
  background: $color-primary-dark;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: -2px 4px 2px rgba(255, 255, 255, 0.3);
}

// @mixin home-title-section {
//   display: flex;
//   align-items: center;
//   .title {
//     padding-right: 20px;
//     font-size: 32px;
//     font-weight: 600;
//     text-transform: uppercase;
//     @include font-style-carved;
//     /*------------------ Laptop ------------------*/
//     @media screen and (min-width: 768px) {
//       padding-right: 40px;
//     }
//   }
//   .titleSeparator {
//     height: 10px;
//     background-color: #f0f0f0;
//     flex-grow: 1; /* S'étend pour remplir l'espace disponible */
//     box-shadow: inset -2px 2px 2px #cecece, inset 2px -2px 2px #fcfcfc;
//     border-radius: 20px;
//   }
// }

@mixin page-header {
  position: relative;
  width: 100%;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: linear-gradient(
      90deg,
      transparent 0%,
      $color-slate-grey-5 10%,
      $color-slate-grey-1 50%,
      $color-slate-grey-5 90%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      $color-slate-grey-6 0%,
      $color-slate-grey-4 50%,
      $color-slate-grey-2 80%
    );
  background-attachment: scroll, fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(
      ellipse at bottom,
      rgba(28, 32, 36, 0.6) 0%,
      rgba(28, 32, 36, 0.2) 50%,
      transparent 100%
    );
    filter: blur(5px);
  }
  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(
      ellipse at top,
      rgba(28, 32, 36, 0.6) 0%,
      rgba(28, 32, 36, 0.2) 50%,
      transparent 100%
    );
    filter: blur(5px);
  }

  .pageTitle {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: $color-primary-dark-darker;

    .highlight {
      font-weight: 600;
      color: $color-primary;
      background: radial-gradient(
        ellipse farthest-corner at center center,
        $color-primary 0%,
        $color-primary-dark 68%,
        $color-primary-dark-darker 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .coloredBubblesContainer {
    display: flex;
    justify-content: center;
    gap: 8px;

    .bubble1,
    .bubble2,
    .bubble3,
    .bubble4 {
      width: 12px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      box-shadow: 1px -1px 2px rgba(28, 32, 36, 0.2), -1px 1px 2px white,
        inset -1px 1px 2px rgba(28, 32, 36, 0.8);
    }
    .bubble1 {
      background-color: $color-teal-12;
    }
    .bubble2 {
      background-color: $color-teal-11;
    }
    .bubble3 {
      background-color: $color-teal-9;
    }
    .bubble4 {
      background-color: $color-teal-6;
    }
  }
}

//*----------- TITRES ----------*

// Sous-titres (h3) :
@mixin sub-titles-style {
  background: radial-gradient(
    ellipse farthest-corner at right center,
    $color-primary 0%,
    $color-primary-dark 68%,
    $color-primary-dark-darker 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//*----------- TEXTES ----------*
// Texte global :
@mixin paragraphe-text-style {
  font-size: 14px;
  line-height: 1.43;
  color: $color-slate-grey-12;
  // color: $color-primary-dark-darker;
}

//*----------- CARDS ----------*
@mixin page-card-style {
  border-radius: 16px;
  background: linear-gradient(
    45deg,
    $color-slate-grey-4 0%,
    $color-slate-grey-2 100%
  );
  box-shadow: -2px 2px 4px rgba(28, 32, 36, 0.4),
    -8px 8px 14px 4px rgba(28, 32, 36, 0.25),
    inset 3px -3px rgba(28, 32, 36, 0.2);
}

//! ----------------------------------------------------------------------- NOUVEAUX :

@mixin section-title {
  display: flex;
  align-items: center;
  gap: 16px;
  /*--------------- Tablet ---------------*/
  @media screen and (min-width: 768px) {
    gap: 24px;
    /*--------------- Tablet ---------------*/
    @media screen and (min-width: 1280px) {
      gap: 32px;
    }
  }
  .title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    color: transparent;
    background: $color-primary-dark;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: -2px 2px 2px rgba(255, 255, 255, 0.45);
  }

  .titleSeparator {
    height: 8px;
    flex-grow: 1; // S'étend pour remplir l'espace disponible
    border-radius: 16px;
    background-color: $color-slate-grey-3;
    box-shadow: inset 0px 2px 4px rgba(28, 32, 36, 0.2), inset 0 -2px 4px white;
  }
}
