@import './variables';

@mixin font-style-carved {
  color: transparent;
  background: $color-primary-dark;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: -2px 4px 2px rgba(255, 255, 255, 0.3);
}
