//* ----------------------------- Colors ------------------------------
$color-primary-light: #beeaef;

$color-primary: #00b0bd;

$color-primary-dark: #007782;
$color-primary-dark-darker: #003e43;

// ---- Light grey :
$color-slate-grey-1: #fcfcfd;
$color-slate-grey-2: #f9f9fb;
$color-slate-grey-3: #f0f0f3;

// ---- Medium grey :
$color-slate-grey-4: #e8e8ec;
$color-slate-grey-5: #e0e1e6;
$color-slate-grey-6: #d9d9e0;
$color-slate-grey-7: #cdced6;
$color-slate-grey-8: #b9bbc6;

// ---- Dark grey :
$color-slate-grey-9: #8b8d98;
$color-slate-grey-10: #80838d;
$color-slate-grey-11: #60646c; // rgba(96, 100, 108, 0.95)
$color-slate-grey-12: #1c2024; // rgba(28, 32, 36, 0.95)
