//* ----------------------------- Colors ------------------------------
$color-primary: #00b0bd;

$color-light-grey: #fcfcfc;

$color-dark-grey-lighter: #ececec;
$color-dark-grey: #e4e4e4;
$color-dark-grey-darker: #d5d5d5;
