@import './reset';
@import '@/styles/variables';
@import '@/styles/mixins';

body {
  height: 100vh; /* S'assure que la hauteur couvre tout l'écran */

  background: linear-gradient(
    45deg,
    $color-slate-grey-6 0%,
    $color-slate-grey-4 50%,
    $color-slate-grey-2 80%
  );

  background-attachment: fixed; /* Le dégradé reste fixe */
  background-size: cover; /* Le dégradé couvre l'écran */
}
