@import '@/styles/variables';
@import '@/styles/mixins';

.aboutContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1440px;

  .aboutCard {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /*------------------ Laptop ------------------*/
    @media screen and (min-width: 768px) {
      z-index: 1;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 40px;
      gap: 40px;
      border-radius: 40px;
      background: linear-gradient(
        45deg,
        $color-slate-grey-5 0%,
        $color-slate-grey-1 80%
      );
      box-shadow: -9px 8px 16px rgba(28, 32, 36, 0.3),
        inset 20px -20px 40px rgba(28, 32, 36, 0.2), inset -20px 20px 40px white;
      /*------------------ Desktop ------------------*/
      @media screen and (min-width: 1280px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Définir la première ligne en auto pour le titre, puis 5 lignes en 1fr */
        grid-template-rows: auto repeat(5, 1fr);
        padding: 80px;
        gap: 80px;
      }
    }

    .titleSection {
      display: flex;
      align-items: center;
      /*------------------ Desktop ------------------*/
      @media screen and (min-width: 1280px) {
      }

      .title {
        padding-right: 20px;
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
        @include font-style-carved;
      }
      .titleSeparator {
        height: 10px;
        background-color: #f0f0f0;
        flex-grow: 1; /* S'étend pour remplir l'espace disponible */
        box-shadow: inset -2px 2px 2px #cecece, inset 2px -2px 2px #fcfcfc;
        border-radius: 20px;
      }
    }

    .imageSection {
      display: flex;
      justify-content: center;
      /*------------------ Desktop ------------------*/
      @media screen and (min-width: 1280px) {
        grid-row: span 4 / span 4;
      }
    }

    .quoteSection {
      padding: 20px 40px;
      /*------------------ Laptop ------------------*/
      @media screen and (min-width: 768px) {
        padding: 40px;
      }
      /*------------------ Desktop ------------------*/
      @media screen and (min-width: 1280px) {
        padding: 0 40px;
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 5;
      }

      .quote {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        @include font-style-carved;
      }
    }

    .presentationSection {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      border-radius: 20px;
      box-shadow: inset 2px -2px 4px white,
        inset -2px 2px 4px rgba(28, 32, 36, 0.4);
      /*------------------ Laptop ------------------*/
      @media screen and (min-width: 768px) {
        padding: 80px;
        border-radius: 40px;
      }
      /*------------------ Desktop ------------------*/
      @media screen and (min-width: 1280px) {
        padding: 40px;
        grid-row: span 5 / span 5;
        grid-column-start: 1;
        grid-row-start: 2;
        justify-content: space-between;
      }

      .descriptionsContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 400;
        color: $color-primary-dark-darker;
      }

      .buttonContainer {
        display: flex;
        justify-content: center;

        .button {
          padding: 10px 20px;
          border: 1px solid black;
          border-radius: 20px;
        }
      }
    }
  }

  // ----------- Décoration de la carte :
  .cardShadow {
    display: none;
    /*------------------ Laptop------------------*/
    @media screen and (min-width: 768px) {
      z-index: 1;
      position: absolute;
      bottom: 65px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 20px;
      display: block;
      border-radius: 50%;
      background: radial-gradient(
        ellipse at top,
        rgba(28, 32, 36, 0.4) 0%,
        transparent
      );
      filter: blur(5px);
    }
    /*------------------ Laptop------------------*/
    @media screen and (min-width: 1280px) {
      bottom: -15px;
    }
  }

  .cardReflect {
    display: none;
    /*------------------ Desktop------------------*/
    @media screen and (min-width: 768px) {
      width: 100%;
      height: 80px;
      display: block;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      background: linear-gradient(
        45deg,
        $color-slate-grey-5 0%,
        $color-slate-grey-1 80%
      );
      opacity: 0.8; /* Ajuste la transparence du reflet */
      mask-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 0%,
        /* Opacité initiale plus élevée */ rgba(255, 255, 255, 0.4) 50%,
        /* Opacité moyenne */ rgba(255, 255, 255, 0) 100%
          /* Transparence totale */
      );
      -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}
