@import '@/styles/variables';
@import '@/styles/mixins';

// .aboutContainer {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   gap: 40px;
//   border: 1px solid black;
//   /*------------------ Desktop------------------*/
//   @media screen and (min-width: 768px) {
//     height: 100%;
//     max-width: 1440px;
//   }

//   .sectionTitle {
//     padding: 0 20px;
//     @include home-title-section;
//     /*------------------ Desktop------------------*/
//     @media screen and (min-width: 768px) {
//       padding: 0;
//     }
//   }

//   .aboutCardFrame {
//     /*------------------ Desktop------------------*/
//     @media screen and (min-width: 768px) {
//       height: 100%;
//       padding: 10px;
//       border-radius: 20px;
//       border: 1px solid black;
//     }

//     .aboutCard {
//       /*------------------ Desktop------------------*/
//       @media screen and (min-width: 768px) {
//         height: 100%;
//         display: flex;
//         border-radius: 10px;
//         border: 1px solid black;
//       }

//       .imageSection {
//         padding: 40px 0;
//         display: flex;
//         justify-content: center;
//         border: 1px solid red;
//         /*------------------ Desktop------------------*/
//         @media screen and (min-width: 768px) {
//           width: 50%;
//           height: 100%;
//           padding: 0;
//         }

//         .imageFrame {
//           width: 100%;
//           max-width: 300px;
//           height: 400px;
//           padding: 10px;
//           border-radius: 20px;
//           border: 1px solid black;
//           /*------------------ Desktop------------------*/
//           @media screen and (min-width: 768px) {
//             position: relative;
//             top: 80px;
//             width: calc(100% - 80px - 80px);
//             height: 100%;
//             max-width: none;
//           }

//           .imageContainer {
//             position: relative;
//             width: 100%;
//             height: 100%;
//             border-radius: 10px;
//             border: 1px solid black;
//             .image {
//               height: 130% !important;
//               top: -30% !important;
//               object-fit: cover;
//               border-radius: inherit;
//               /*------------------ Desktop------------------*/
//               @media screen and (min-width: 768px) {
//                 height: 120% !important;
//                 top: -20% !important;
//               }
//             }
//           }
//         }
//       }

//       .presentationSection {
//         border: 1px solid red;
//         /*------------------ Desktop------------------*/
//         @media screen and (min-width: 768px) {
//           width: 50%;
//           height: 100%;
//           // padding: 40px;
//           padding: 40px 80px 40px 0;
//           display: flex;
//           flex-direction: column;
//           gap: 40px;
//         }

//         .quote {
//           // padding: 0 40px;
//           text-align: center;
//           font-weight: 600;
//           line-height: 20px;
//           border: 1px solid orange;
//           /*------------------ Desktop------------------*/
//           @media screen and (min-width: 768px) {
//             // padding: 0;
//             padding-left: 40px;
//           }
//         }

//         .socialContainer {
//           display: flex;
//           justify-content: center;
//           gap: 40px;
//           border: 1px solid yellowgreen;
//           .item {
//             width: 40px;
//             aspect-ratio: 1/1;
//             border: 1px solid blue;
//           }
//         }

//         .informationsContainer {
//           padding: 40px 20px;
//           display: flex;
//           flex-direction: column;
//           gap: 40px;
//           border-radius: 20px;
//           box-shadow: 4px -4px 8px rgba(28, 32, 36, 0.2), -4px 4px 8px white,
//             inset 2px -2px 4px rgba(255, 255, 255, 0.4),
//             inset -2px 2px 4px rgba(28, 32, 36, 0.6);
//           border: 1px solid orange;
//           /*------------------ Desktop------------------*/
//           @media screen and (min-width: 768px) {
//             padding: 0;
//             box-shadow: none;
//           }

//           .titlesContainer {
//             border: 1px solid yellowgreen;
//             .name {
//               font-size: 24px;
//               font-weight: 600;
//               text-transform: uppercase;
//             }
//           }

//           .descriptionsContainer {
//             display: flex;
//             flex-direction: column;
//             gap: 10px;
//             font-size: 14px;
//             border: 1px solid yellowgreen;
//           }

//           .buttonContainer {
//             display: flex;
//             justify-content: center;

//             .button {
//               padding: 16px 32px;
//               border-radius: 20px;
//               background: linear-gradient(
//                 45deg,
//                 $color-slate-grey-4 0%,
//                 $color-slate-grey-3 100%
//               );
//               box-shadow: -4px 4px 8px rgba(28, 32, 36, 0.4),
//                 inset -2px 2px 4px white,
//                 inset 2px -2px 4px rgba(28, 32, 36, 0.2);
//               transition: transform 0.3s ease, color 0.3s ease; // Pour animer l'agrandissement et le changement de couleur
//               &:hover {
//                 transform: scale(1.05);
//                 color: $color-primary-dark;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid black;

  .sectionTitle {
    padding: 0 20px;
    @include home-title-section;
    /*------------------ Desktop------------------*/
    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }

  .aboutCardFrame {
    .aboutCard {
      .imageSection {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        border: 1px solid red;

        .imageFrame {
          width: 100%;
          max-width: 300px;
          height: 400px;
          padding: 10px;
          border-radius: 20px;
          border: 1px solid black;

          .imageContainer {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid black;

            .image {
              height: 130% !important;
              top: -30% !important;
              object-fit: cover;
              border-radius: inherit;
            }
          }
        }
      }

      .socialSection {
        display: flex;
        justify-content: center;
        gap: 40px;
        border: 1px solid red;
        .item {
          width: 40px;
          aspect-ratio: 1/1;
          border: 1px solid blue;
        }
      }

      .quoteSection {
        padding: 40px;
        text-align: center;
        font-weight: 600;
        line-height: 20px;
        border: 1px solid red;
      }

      .separatorSection {
        width: 50%;
        height: 10px;
        margin: 0 auto;
        border-radius: 20px;
        border: 1px solid blue;
      }

      .presentationSection {
        margin: 40px 0;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        border-radius: 20px;
        border: 1px solid red;

        .presentationTitlesContainer {
          border: 1px solid orange;
          font-size: 24px;
        }

        .descriptionsContainer {
          display: flex;
          flex-direction: column;
          gap: 20px;
          font-size: 14px;
          border: 1px solid orange;
        }

        .buttonContainer {
          display: flex;
          justify-content: center;
          border: 1px solid orange;

          .button {
            padding: 16px 32px;
            border-radius: 20px;
            background: linear-gradient(
              45deg,
              $color-slate-grey-4 0%,
              $color-slate-grey-3 100%
            );
            box-shadow: -4px 4px 8px rgba(28, 32, 36, 0.4),
              inset -2px 2px 4px white, inset 2px -2px 4px rgba(28, 32, 36, 0.2);
            transition: transform 0.3s ease, color 0.3s ease; // Pour animer l'agrandissement et le changement de couleur
            &:hover {
              transform: scale(1.05);
              color: $color-primary-dark;
            }
          }
        }
      }
    }
  }
}
