@import '@/styles/variables';
@import '@/styles/mixins';

.heroRibbon {
  position: relative;
  padding: 40px;
  background: linear-gradient(22deg, white 0%, $color-slate-grey-2 50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(
      ellipse at bottom,
      rgba(28, 32, 36, 0.6) 0%,
      rgba(28, 32, 36, 0.2) 50%,
      transparent 100%
    );
    filter: blur(5px);
  }
  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(
      ellipse at top,
      rgba(28, 32, 36, 0.6) 0%,
      rgba(28, 32, 36, 0.2) 50%,
      transparent 100%
    );
    filter: blur(5px);
  }
  /*------------------ Desktop------------------*/
  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;
    padding: 0;
    background: white;
  }

  .skewedContainer {
    /*------------------ Desktop------------------*/
    @media screen and (min-width: 768px) {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: skewX(10deg) translateX(-46%);
      background: linear-gradient(
        15deg,
        $color-slate-grey-5 0%,
        $color-slate-grey-1 100%
      );
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -40px;
        width: 40px;
        height: 100%;
        background: radial-gradient(
          ellipse 70% 100% at 0% 50%,
          rgba(28, 32, 36, 0.4) 0%,
          rgba(28, 32, 36, 0.2) 25%,
          rgba(28, 32, 36, 0.05) 50%,
          rgba(28, 32, 36, 0.025) 70%,
          transparent 100%
        );
      }
    }
  }

  .heroContentContainer {
    position: relative;
    max-width: 1440px;
    /*------------------ Desktop------------------*/
    @media screen and (min-width: 768px) {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
    }

    .informationsSection {
      /*------------------ Desktop------------------*/
      @media screen and (min-width: 768px) {
        z-index: 2;
        width: 50%;
        height: 100%;
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .heroTitleContainer {
        font-size: clamp(30px, 6vw, 38px);
        text-transform: uppercase;
        color: $color-primary-dark-darker;
        .firstWord {
          display: flex;
          font-size: 1.5em;
          font-weight: 600;
          color: $color-primary;
          background: radial-gradient(
            ellipse farthest-corner at center center,
            #00b0bd 0%,
            #007b87 68%,
            #003e43 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .smallWord {
          font-size: 0.8em;
        }
        .highlightWords {
          font-weight: 600;
          background: radial-gradient(
            ellipse farthest-corner at right center,
            #00b0bd 0%,
            #007b87 68%,
            #003e43 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .description {
        padding: 40px 0;
        font-size: 18px;
      }

      .buttonsContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        /*------------------ Desktop------------------*/
        @media screen and (min-width: 768px) {
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
        }

        .secondaryButton,
        .primaryButton {
          position: relative;
          padding: 16px 32px;
          border-radius: 20px;
          font-size: 18px;
          transition: transform 0.3s ease, color 0.3s ease; // Pour animer l'agrandissement et le changement de couleur
          // *----------- Ombre portée ----------*
          &::before {
            content: '';
            position: absolute;
            bottom: -5%;
            left: 5%;
            width: 90%;
            height: 5px;
            background-color: rgba(28, 32, 36, 0.4);
            border-radius: 50%;
            filter: blur(5px);
            mix-blend-mode: multiply;
            pointer-events: none;
          }
          /*------------------ Desktop------------------*/
          @media screen and (min-width: 768px) {
            width: 215px;
          }
        }

        .secondaryButton {
          background: linear-gradient(
            15deg,
            $color-slate-grey-5 0%,
            $color-slate-grey-1 100%
          );
          box-shadow: -4px 4px 8px rgba(28, 32, 36, 0.2),
            inset -2px 2px 4px white, inset 2px -2px 4px rgba(28, 32, 36, 0.6);
          // *----------- Reflet ----------------*
          &::after {
            content: '';
            z-index: -1;
            position: absolute;
            top: 100%;
            left: 0%;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background: linear-gradient(15deg, #f0f0f3 0%, #fcfcfd 100%);
            -webkit-mask-image: linear-gradient(
              to bottom,
              rgb(255, 0, 0) 0%,
              rgba(255, 0, 0, 0.2) 50%,
              rgba(255, 0, 0, 0) 100%
            );
            mask-image: linear-gradient(
              to bottom,
              rgb(255, 0, 0) 10%,
              rgba(255, 0, 0, 0.05) 50%,
              rgba(255, 0, 0, 0) 100%
            );
            opacity: 0.8;
            filter: blur(5px);
            pointer-events: none;
          }
          &:hover {
            transform: scale(1.05);
            color: $color-primary-dark;
          }
        }
        .primaryButton {
          background: linear-gradient(15deg, $color-primary 0%, #6bc7d0 100%);
          box-shadow: -4px 4px 8px rgba(28, 32, 36, 0.2),
            inset -2px 2px 4px rgba(255, 255, 255, 0.4),
            inset 2px -2px 4px rgba(28, 32, 36, 0.6);
          // *----------- Reflet ----------------*
          &::after {
            content: '';
            z-index: -1;
            position: absolute;
            top: 100%;
            left: 0%;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background: inherit;
            -webkit-mask-image: linear-gradient(
              to bottom,
              rgb(255, 0, 0) 0%,
              rgba(255, 0, 0, 0.2) 50%,
              rgba(255, 0, 0, 0) 100%
            );
            mask-image: linear-gradient(
              to bottom,
              rgb(255, 0, 0, 0.4) 0%,
              rgba(255, 0, 0, 0.05) 50%,
              rgba(255, 0, 0, 0) 100%
            );
            opacity: 0.8;
            filter: blur(5px);
            pointer-events: none;
          }
          &:hover {
            transform: scale(1.05);
            color: white;
          }
        }
      }
    }

    .backgroundImageSection {
      display: flex;
      justify-content: center;
      /*------------------ Desktop------------------*/
      @media screen and (min-width: 768px) {
        width: 50%;
        height: 100%;
      }

      .imageContainer {
        position: relative;
        width: 300px;
        height: 400px;
        min-width: 280px;
        mix-blend-mode: multiply;
        /*------------------ Desktop------------------*/
        @media screen and (min-width: 768px) {
          width: 100%;
          height: 100%;
          mix-blend-mode: normal;
        }
        .image {
          object-fit: contain;
        }
      }
    }
  }
}
