@import '@/styles/variables';
@import '@/styles/mixins';

// .servicesContainer {
//   width: 100%;
//   height: 100%;
//   max-width: 1440px;
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   border: 1px solid black;
//   /*------------------ Laptop-------------------*/
//   @media screen and (min-width: 768px) {
//     gap: 40px;
//   }

//   .sectionHeader {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     border: 1px solid red;
//     /*------------------ Laptop-------------------*/
//     @media screen and (min-width: 768px) {
//       gap: 40px;
//     }

//     .sectionTitle {
//       display: flex;
//       align-items: center;
//       border: 1px solid orange;

//       .title {
//         padding-right: 20px;
//         font-size: 28px;
//         font-weight: 600;
//         text-transform: uppercase;
//         @include font-style-carved;
//         /*------------------ Laptop ------------------*/
//         @media screen and (min-width: 768px) {
//           padding-right: 40px;
//         }
//       }

//       .titleSeparator {
//         height: 10px;
//         background-color: #f0f0f0;
//         flex-grow: 1; /* S'étend pour remplir l'espace disponible */
//         box-shadow: inset -2px 2px 2px #cecece, inset 2px -2px 2px #fcfcfc;
//         border-radius: 20px;
//       }
//     }

//     .sectionDescription {
//       /*------------------ Laptop-------------------*/
//       @media screen and (min-width: 768px) {
//         max-width: 490px;
//         margin: 0 auto;
//         text-align: center;
//       }
//       /*------------------ Desktop------------------*/
//       @media screen and (min-width: 1280px) {
//       }
//     }
//   }

//   .servicesContentContainer {
//     border: 1px solid red;
//     /*------------------ Laptop-------------------*/
//     @media screen and (min-width: 768px) {
//       flex-grow: 1;
//       display: flex;
//       gap: 40px;
//     }

//     .decorativePyramidContainer {
//       position: relative;
//       border: 1px solid orange;
//       // clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
//       // background-color: blue;
//       /*------------------ Laptop-------------------*/
//       @media screen and (min-width: 768px) {
//         width: 50%;
//         height: 100%;
//       }
//     }

//     .servicesListsContainer {
//       position: relative;
//       width: 100%;
//       height: 100%;
//       border: 1px solid black;
//       position: relative;
//       border: 1px solid orange;
//       /*------------------ Laptop-------------------*/
//       @media screen and (min-width: 768px) {
//         width: 50%;
//         height: 100%;
//       }
//       .repere {
//         z-index: 1;
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         transform: rotate(180deg);
//         clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
//         // border: 1px solid blue;
//         // background-color: rgba(0, 0, 255, 0.287);
//         left: -10%;
//       }

//       .base {
//         z-index: 1;
//         position: relative;
//         width: 100%;
//         height: 100%;
//         transform: rotate(180deg);
//         clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
//         // border: 1px solid blue;
//         // background-color: rgba(0, 0, 255, 0.287);

//         .firstFloor,
//         .secondFloor,
//         .thirdFloor,
//         .fourthFloor,
//         .hatRepere {
//           z-index: 1;
//           position: absolute;
//           width: 100%;
//           height: 100%;
//           clip-path: polygon(
//             0% 70%,
//             0% 60%,
//             50% 90%,
//             100% 60%,
//             100% 70%,
//             50% 100%
//           );
//           .darkSide {
//             width: 100%;
//             height: 100%;
//             clip-path: polygon(50% 90%, 100% 60%, 100% 70%, 50% 100%);
//             // background: purple;
//             background: linear-gradient(
//               90deg,
//               transparent 0%,
//               rgba(148, 148, 148, 0.38) 100%
//             );
//           }
//         }
//         .firstFloor {
//           background-color: #beeaef;
//         }
//         .secondFloor {
//           bottom: 20%;
//           border: 1px solid orange;
//           background-color: #8ed6de;
//         }
//         .thirdFloor {
//           bottom: 40%;
//           border: 1px solid yellow;
//           background-color: #00b0bd;
//         }
//         .fourthFloor {
//           bottom: 60%;
//           border: 1px solid yellowgreen;
//           background-color: #007782;
//         }
//         .hatRepere {
//           bottom: 80%;
//           border: 1px solid cyan;
//           background-color: cyan;
//         }

//         .firstFloorCeiling,
//         .secondFloorCeiling,
//         .thirdFloorCeiling,
//         .fourthFloorCeiling,
//         .hat {
//           position: absolute;
//           top: 0%;
//           width: 100%;
//           height: 100%;
//         }
//         .firstFloorCeiling {
//           position: relative;
//           clip-path: polygon(15% 69%, 85% 69%, 50% 90%);
//           border: 1px solid brown;
//           background-color: #6bc7d0;
//           &::before {
//             content: '';
//             position: absolute;
//             background: radial-gradient(
//               rgba(28, 32, 36, 0.95) 0%,
//               transparent 100%
//             );
//           }
//         }
//         .secondFloorCeiling {
//           clip-path: polygon(23% 54%, 77% 54%, 50% 80%);
//           border: 1px solid orangered;
//           background-color: orangered;
//         }
//         .thirdFloorCeiling {
//           clip-path: polygon(31% 38.4%, 69% 38.4%, 50% 60%);
//           border: 1px solid gold;
//           background-color: gold;
//         }
//         .fourthFloorCeiling {
//           clip-path: polygon(38% 23%, 62% 23%, 50% 40%);
//           border: 1px solid green;
//           background-color: green;
//         }
//         .hat {
//           // position: relative;
//           z-index: 1;
//           clip-path: polygon(42.3% 15.4%, 50% 0%, 57.8% 15.3%, 50% 20%);
//           border: 1px solid blue;
//           background-color: #003e43;
//           .darkSide {
//             width: 100%;
//             height: 100%;
//             clip-path: polygon(50% 0%, 100% 10%, 50% 20%);
//             background: purple;
//           }
//         }
//       }

//       // .shadowFirstFloor,
//       // .shadowSecondFloor,
//       // .shadowThirdFloor,
//       // .shadowFourthFloor,
//       // .shadowHat {
//       //   position: absolute;
//       //   top: 0%;
//       //   width: 100%;
//       //   height: 100%;
//       //   border: 1px solid red;
//       //   // background-color: rgba(255, 0, 0, 0.222);
//       //   // background: linear-gradient(
//       //   //   62deg,
//       //   //   transparent 27%,
//       //   //   rgba(28, 32, 36, 0.1) 4%,
//       //   //   rgba(28, 32, 36, 0.6) 100%
//       //   // );
//       //   &::before {
//       //     content: '';
//       //     position: absolute;
//       //     inset: 0;
//       //     // le MEME dégradé pour tous
//       //     background: linear-gradient(
//       //       62deg,
//       //       transparent 27%,
//       //       rgba(28, 32, 36, 0.1) 4%,
//       //       rgba(28, 32, 36, 0.6) 100%
//       //     );
//       //     // Pour éviter que ça se répète ou se redimensionne différemment
//       //     background-size: 100% 100%;
//       //     // On place ce calque "sous" l'élément (ou au même niveau)
//       //     z-index: 0;
//       //   }
//       // }
//       // .shadowFirstFloor {
//       //   clip-path: polygon(
//       //     9.2% 38.5%,
//       //     3.8% 27.5%,
//       //     50% 0%,
//       //     88.5% 23%,
//       //     84.5% 31%,
//       //     70.7% 38.5%
//       //   );
//       // }
//       // .shadowSecondFloor {
//       //   top: 20%;
//       //   clip-path: polygon(
//       //     17% 34%,
//       //     11.5% 23%,
//       //     50% 0%,
//       //     80.6% 18.5%,
//       //     77% 26%,
//       //     63% 34%
//       //   );
//       // }
//       // .shadowThirdFloor {
//       //   top: 40%;
//       //   clip-path: polygon(
//       //     24.6% 29.3%,
//       //     19.2% 18.5%,
//       //     50% 0%,
//       //     73% 14%,
//       //     69% 21.7%,
//       //     55.4% 29.3%
//       //   );
//       // }
//       // .shadowFourthFloor {
//       //   top: 60%;
//       //   clip-path: polygon(
//       //     32.3% 24.7%,
//       //     27% 13.8%,
//       //     50% 0%,
//       //     65.5% 9.2%,
//       //     61.2% 17.2%,
//       //     47.4% 24.7%
//       //   );
//       // }
//       // .shadowHat {
//       //   top: 5%;
//       //   clip-path: polygon(34.5% 84%, 50% 75%, 50% 95%, 42.2% 99.7%);
//       // }
//       .shadowWrapper {
//         position: absolute;
//         top: 0%;
//         width: 100%;
//         height: 100%;

//         .shadows {
//           position: absolute;
//           top: 0%;
//           width: 100%;
//           height: 105%;
//           clip-path: polygon(
//             4% 26%,
//             50% 0%,
//             88.5% 22%,
//             84.5% 29.5%,
//             76% 34%,
//             80.5% 36.5%,
//             77% 44%,
//             68% 48.5%,
//             73% 51.3%,
//             69% 59%,
//             60.6% 63%,
//             65.5% 66%,
//             61.4% 73.6%,
//             53% 78%,
//             57.7% 80.5%,
//             50% 95%,
//             42% 100%,
//             34.5% 85%,
//             42% 80.5%,
//             32% 80.5%,
//             27% 70%,
//             34.5% 66%,
//             24.5% 66%,
//             19% 55.7%,
//             27% 51.4%,
//             17% 51.4%,
//             11.5% 41%,
//             19% 36.5%,
//             10% 36.5%
//           );
//           // background: linear-gradient(
//           //   62deg,
//           //   transparent 25%,
//           //   rgba(28, 32, 36, 0.1) 60%,
//           //   rgba(28, 32, 36, 0.2) 68%,
//           //   rgba(28, 32, 36, 0.3) 100%
//           // );
//           background: linear-gradient(
//             63deg,
//             transparent 27%,
//             rgba(28, 32, 36, 0.2) 50%
//           );
//           border: 1px solid fuchsia;
//         }
//       }
//     }
//   }
// }

// -----------------------------------------

// .servicesContainer {
//   width: 100%;
//   max-width: 1440px;
//   display: flex;
//   flex-direction: column;
//   gap: 40px; // Gao entre header et servicesContentContainer
//   border: 1px solid black;
//   /*------------------ Desktop------------------*/
//   @media screen and (min-width: 1188px) {
//     padding: 0 60px;
//   }

//   .sectionHeader {
//     display: flex;
//     flex-direction: column;
//     gap: 40px;
//     border: 1px solid red;

//     .sectionTitle {
//       @include home-title-section;
//       border: 1px solid orange;
//     }

//     .sectionPresentation {
//       display: flex;
//       flex-direction: column;
//       gap: 20px;
//       font-size: 14px;
//       border: 1px solid orange;
//     }
//   }

//   .servicesContentContainer {
//     display: flex;
//     flex-direction: column;
//     gap: 40px; // gap entre la pyramide et le servicesListsContainer
//     border: 1px solid red;
//     /*------------------ Desktop------------------*/
//     @media screen and (min-width: 1188px) {
//       height: 100%;
//       flex-direction: row;
//     }

//     .decorativePyramidContainer {
//       height: 40vh;
//       width: 100%;
//       max-width: 500px;
//       margin: 0 auto;
//       border: 1px solid orange;
//       /*------------------ Desktop------------------*/
//       @media screen and (min-width: 1188px) {
//         height: 100%;
//         width: 50%;
//         max-width: none;
//         margin: none;
//       }
//     }

//     .servicesListContainer {
//       display: flex;
//       flex-direction: column;
//       gap: 20px;
//       border: 1px solid orange;
//       /*------------------ Desktop------------------*/
//       @media screen and (min-width: 1188px) {
//         height: 100%;
//         width: 50%;
//       }

//       .serviceItem {
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         border: 1px solid blue;

//         .serviceHeader {
//           display: flex;
//           align-items: center;
//           gap: 20px;
//           border: 1px solid green;

//           .serviceBubble {
//             width: 15px;
//             height: 15px;
//             background-color: red;
//             border-radius: 50%;
//           }

//           .serviceTitle {
//             font-size: 20px;
//             font-weight: 600;
//             text-transform: uppercase;
//             background: radial-gradient(
//               ellipse farthest-corner at right center,
//               #00b0bd 0%,
//               #007b87 68%,
//               #003e43 100%
//             );
//             background-clip: text;
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//           }
//         }

//         .serviceDescription {
//           font-size: 14px;
//         }
//       }
//     }
//   }
// }

// ------------------------------------------

// .servicesContainer {
//   width: 100%;
//   max-width: 1440px;
//   display: flex;
//   flex-direction: column;
//   gap: 40px;
//   border: 1px solid black;
//   /*------------------ Desktop------------------*/
//   @media screen and (min-width: 1188px) {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(6, 1fr);
//     gap: 8px;
//   }

//   .sectionTitle {
//     @include home-title-section;
//     border: 1px solid red;
//     /*------------------ Desktop------------------*/
//     @media screen and (min-width: 1188px) {
//       grid-column: span 2 / span 2;
//     }
//   }

//   .sectionDescription {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     font-size: 14px;
//     border: 1px solid red;
//     /*------------------ Desktop------------------*/
//     @media screen and (min-width: 1188px) {
//       grid-row: span 2 / span 2;
//       grid-column-start: 2;
//       grid-row-start: 2;
//     }
//   }

//   .decorativePyramidContainer {
//     height: 40vh;
//     width: 100%;
//     max-width: 500px;
//     border: 1px solid red;
//     /*------------------ Desktop------------------*/
//     @media screen and (min-width: 1188px) {
//       height: 100%;
//       max-width: fit-content;
//       grid-row: span 5 / span 5;
//       grid-column-start: 1;
//       grid-row-start: 2;
//     }
//   }

//   .servicesListContainer {
//     border: 1px solid red;

//     .serviceItem {
//       display: flex;
//       flex-direction: column;
//       gap: 10px;
//       //         border: 1px solid blue;

//       .serviceHeader {
//         display: flex;
//         align-items: center;
//         gap: 20px;
//         //           border: 1px solid green;
//         .serviceBubble {
//           width: 15px;
//           height: 15px;
//           background-color: red;
//           border-radius: 50%;
//         }
//         .serviceTitle {
//           font-size: 20px;
//           font-weight: 600;
//           text-transform: uppercase;
//           background: radial-gradient(
//             ellipse farthest-corner at right center,
//             #00b0bd 0%,
//             #007b87 68%,
//             #003e43 100%
//           );
//           background-clip: text;
//           -webkit-background-clip: text;
//           -webkit-text-fill-color: transparent;
//         }
//       }

//       .serviceDescription {
//         font-size: 14px;
//       }
//     }
//     /*------------------ Desktop------------------*/
//     @media screen and (min-width: 1188px) {
//       grid-row: span 3 / span 3;
//       grid-column-start: 2;
//       grid-row-start: 4;
//     }
//   }
// }

.servicesContainer {
  width: 100%;
  max-width: 1440px;
  border: 1px solid black;
  /*------------------ Desktop------------------*/
  @media screen and (min-width: 1188px) {
    width: 100%;
    height: 100%;
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 40px;
  }

  .sectionTitle {
    @include home-title-section;
    border: 1px solid red;
    /*------------------ Desktop------------------*/
    @media screen and (min-width: 1188px) {
      padding: 20px 40px;
      grid-column: 1 / 3;
      grid-row: 1;
    }
  }

  .sectionDescription {
    font-size: 14px;
    border: 1px solid red;
    /*------------------ Desktop------------------*/
    @media screen and (min-width: 1188px) {
      padding: 40px;
      grid-column: 2;
      grid-row: 2;
    }
  }

  .decorativePyramidContainer {
    border: 1px solid red;
    /*------------------ Desktop------------------*/
    @media screen and (min-width: 1188px) {
      grid-column: 1;
      grid-row: 2 / span 2;
    }
  }

  .servicesListContainer {
    border: 1px solid red;
    /*------------------ Desktop------------------*/
    @media screen and (min-width: 1188px) {
      padding: 40px;
      grid-column: 2;
      grid-row: 3;
    }
    .serviceItem {
      display: flex;
      flex-direction: column;
      gap: 10px;
      //         border: 1px solid blue;

      .serviceHeader {
        display: flex;
        align-items: center;
        gap: 20px;
        //           border: 1px solid green;
        .serviceBubble {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
        }
        .serviceTitle {
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
          background: radial-gradient(
            ellipse farthest-corner at right center,
            #00b0bd 0%,
            #007b87 68%,
            #003e43 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .serviceDescription {
        font-size: 14px;
      }
    }
  }
}
