@import '@/styles/variables';
@import '@/styles/mixins';

.servicesContainer {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  /*------------------ Laptop-------------------*/
  @media screen and (min-width: 768px) {
    gap: 40px;
  }

  .sectionHeader {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid red;
    /*------------------ Laptop-------------------*/
    @media screen and (min-width: 768px) {
      gap: 40px;
    }

    .sectionTitle {
      display: flex;
      align-items: center;
      border: 1px solid orange;

      .title {
        padding-right: 20px;
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
        @include font-style-carved;
        /*------------------ Laptop ------------------*/
        @media screen and (min-width: 768px) {
          padding-right: 40px;
        }
      }

      .titleSeparator {
        height: 10px;
        background-color: #f0f0f0;
        flex-grow: 1; /* S'étend pour remplir l'espace disponible */
        box-shadow: inset -2px 2px 2px #cecece, inset 2px -2px 2px #fcfcfc;
        border-radius: 20px;
      }
    }

    .sectionDescription {
      /*------------------ Laptop-------------------*/
      @media screen and (min-width: 768px) {
        max-width: 490px;
        margin: 0 auto;
        text-align: center;
      }
      /*------------------ Desktop------------------*/
      @media screen and (min-width: 1280px) {
      }
    }
  }

  .servicesContentContainer {
    border: 1px solid red;
    /*------------------ Laptop-------------------*/
    @media screen and (min-width: 768px) {
      flex-grow: 1;
      display: flex;
      gap: 40px;
    }

    .decorativePyramidContainer {
      position: relative;
      border: 1px solid orange;
      // clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
      // background-color: blue;
      /*------------------ Laptop-------------------*/
      @media screen and (min-width: 768px) {
        width: 50%;
        height: 100%;
      }

      .repere {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        border: 1px solid blue;
        background-color: rgba(0, 0, 255, 0.287);
      }

      .base {
        position: relative;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        border: 1px solid blue;
        background-color: rgba(0, 0, 255, 0.287);

        .firstFloor {
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
          clip-path: polygon(
            0% 70%,
            0% 60%,
            50% 90%,
            100% 60%,
            100% 70%,
            50% 100%
          );
          border: 1px solid red;
          background-color: red;
        }
        .secondFloor {
          z-index: 1;
          position: absolute;
          top: -20%;
          width: 100%;
          height: 100%;
          clip-path: polygon(
            0% 70%,
            0% 60%,
            50% 90%,
            100% 60%,
            100% 70%,
            50% 100%
          );
          border: 1px solid orange;
          background-color: orange;
        }
        .thirdFloor {
          z-index: 1;
          position: absolute;
          top: -40%;
          width: 100%;
          height: 100%;
          clip-path: polygon(
            0% 70%,
            0% 60%,
            50% 90%,
            100% 60%,
            100% 70%,
            50% 100%
          );
          border: 1px solid yellow;
          background-color: yellow;
        }
        .forthFloor {
          z-index: 1;
          position: absolute;
          top: -60%;
          width: 100%;
          height: 100%;
          clip-path: polygon(
            0% 70%,
            0% 60%,
            50% 90%,
            100% 60%,
            100% 70%,
            50% 100%
          );
          border: 1px solid yellowgreen;
          background-color: yellowgreen;
        }

        .firstFloorCeiling {
          position: absolute;
          top: 0%;
          width: 100%;
          height: 100%;
          clip-path: polygon(15% 69%, 85% 69%, 50% 90%);
          border: 1px solid brown;
          background-color: brown;
        }
        .secondFloorCeiling {
          position: absolute;
          top: 0%;
          width: 100%;
          height: 100%;
          clip-path: polygon(23% 54%, 77% 54%, 50% 70%);
          border: 1px solid orangered;
          background-color: orangered;
        }
        .thirdFloorCeiling {
          position: absolute;
          top: 0%;
          width: 100%;
          height: 100%;
          clip-path: polygon(30.8% 38.4%, 69.2% 38.4%, 50% 50%);
          border: 1px solid gold;
          background-color: gold;
        }

        .hat {
          z-index: 2;
          position: absolute;
          top: 0%;
          width: 100%;
          height: 100%;
          clip-path: polygon(34.5% 30.7%, 50% 0%, 65.5% 30.7%, 50% 40%);
          border: 1px solid green;
          background-color: #008000cf;
        }
      }
    }

    .servicesListsContainer {
      position: relative;
      border: 1px solid orange;
      /*------------------ Laptop-------------------*/
      @media screen and (min-width: 768px) {
        width: 50%;
        height: 100%;
      }

      .repere {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        border: 1px solid blue;
        background-color: rgba(0, 0, 255, 0.287);
      }

      .base {
        position: relative;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        border: 1px solid blue;
        background-color: rgba(0, 0, 255, 0.287);

        .firstFloor {
          z-index: 1;
          position: relative;
          width: 100%;
          height: 100%;
          clip-path: polygon(
            0% 60%,
            0% 50%,
            50% 90%,
            100% 50%,
            100% 60%,
            50% 100%
          );
          border: 1px solid red;
          background-color: red;
        }
        .secondFloor {
          z-index: 1;
          position: absolute;
          top: -20%;
          width: 100%;
          height: 100%;
          clip-path: polygon(
            0% 60%,
            0% 50%,
            50% 90%,
            100% 50%,
            100% 60%,
            50% 100%
          );
          border: 1px solid orange;
          background-color: orange;
        }
        .thirdFloor {
          z-index: 1;
          position: absolute;
          top: -40%;
          width: 100%;
          height: 100%;
          clip-path: polygon(
            0% 60%,
            0% 50%,
            50% 90%,
            100% 50%,
            100% 60%,
            50% 100%
          );
          border: 1px solid yellow;
          background-color: yellow;
        }
        .forthFloor {
          z-index: 1;
          position: absolute;
          top: -60%;
          width: 100%;
          height: 100%;
          clip-path: polygon(
            0% 60%,
            0% 50%,
            50% 90%,
            100% 50%,
            100% 60%,
            50% 100%
          );
          border: 1px solid yellowgreen;
          background-color: yellowgreen;
        }

        .firstFloorCeiling {
          position: absolute;
          top: 0%;
          width: 100%;
          height: 100%;
          clip-path: polygon(17.5% 64%, 82.5% 64%, 50% 90%);
          border: 1px solid brown;
          background-color: brown;
        }
        .secondFloorCeiling {
          position: absolute;
          top: 0%;
          width: 100%;
          height: 100%;
          clip-path: polygon(25% 50%, 75% 50%, 50% 70%);
          border: 1px solid orangered;
          background-color: orangered;
        }
        .thirdFloorCeiling {
          position: absolute;
          top: 0%;
          width: 100%;
          height: 100%;
          clip-path: polygon(32% 36%, 68% 36%, 50% 50%);
          border: 1px solid gold;
          background-color: gold;
        }
        .hat {
          z-index: 2;
          position: absolute;
          top: 0%;
          width: 100%;
          height: 100%;
          clip-path: polygon(35.6% 28.5%, 50% 0%, 64.4% 28.5%, 50% 40%);
          border: 1px solid green;
          background-color: #008000cf;
        }
      }
    }
  }
}
