@import '@/styles/variables';
@import '@/styles/mixins';

.profilPictureShape {
  position: relative;
  width: 100%;
  min-width: 280px;
  max-width: 400px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid orange;
  /*------------------ Desktop ------------------*/
  @media screen and (min-width: 1280px) {
    width: auto;
    max-width: none;
    height: 100%;
  }

  .decorativeCircles {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;

    .localisationRibbon {
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      clip-path: inset(85% 15% -10% 15%);
      background-color: $color-primary-light;
      box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.8);

      .localisationSvg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .localisationText {
        fill: $color-primary-dark;
        font-size: 3.5px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-shadow: -1px 1px 0px white;
        /*------------------ Laptop ------------------*/
        @media screen and (min-width: 768px) {
          font-size: 3px;
        }
      }
    }

    .carvedCircle {
      position: absolute;
      width: 90%;
      height: 90%;
      border-radius: inherit;
      background: linear-gradient(
        45deg,
        $color-primary-dark 0%,
        $color-primary 100%
      );
      box-shadow: 2px -4px 4px rgba(28, 32, 36, 0.2), -2px 4px 4px white,
        inset -2px 4px 8px 2px rgba(0, 0, 0, 0.8);
    }
  }

  .contentCircles {
    position: relative;
    z-index: 1;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;

    //*------------------- Conteneur de la photo -------------------*
    .contentCircleBase {
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: inherit;
      box-shadow: inset -2px 2px 2px white;
      background-color: $color-slate-grey-4;

      .imageFrame {
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: inherit;
        background: linear-gradient(
          45deg,
          $color-slate-grey-7 0%,
          $color-slate-grey-1 100%
        );
        box-shadow: -4px 6px 16px rgba(28, 32, 36, 0.8),
          inset -2px 2px 2px white, inset 2px -4px 8px rgba(28, 32, 36, 0.4);

        .imageContainer {
          position: relative;
          width: 90%;
          height: 90%;
          border-radius: inherit;
          box-shadow: -2px 4px 4px white, 2px -4px 4px rgba(28, 32, 36, 0.6);
          // ---------- Ombre interne dans la photo :
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            box-shadow: inset -4px 8px 16px rgba(0, 0, 0, 0.95);
          }
          .image {
            object-fit: cover;
            object-position: 50% 10%;
            border-radius: inherit;
          }
        }
      }
    }

    //*------------------- Ombre du conteneur de la photo ----------*
    .contentCircleShadow {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      box-shadow: -2px 4px 8px 2px rgba(0, 0, 0, 0.5),
        -2px 8px 24px rgba(0, 0, 0, 0.4);
    }

    //*------------------- Conteneurs icones Social ----------------*
    .mailCircleBase,
    .whatsappCircleBase,
    .linkedinCircleBase {
      position: absolute;
      width: 20%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: inherit;
      background-color: $color-slate-grey-5;
      box-shadow: inset 2px -2px 2px rgba(28, 32, 36, 0.4),
        inset -2px 4px 4px white;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.8);
      }

      .iconContainer {
        z-index: 1;
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: inherit;
        background: linear-gradient(
          45deg,
          $color-slate-grey-7 0%,
          $color-slate-grey-1 100%
        );
        box-shadow: -2px 4px 8px rgba(28, 32, 36, 0.6), inset -1px 2px 4px white,
          inset 1px -2px 4px rgba(28, 32, 36, 0.4);
        &:hover .icon {
          color: $color-primary;
          filter: drop-shadow(-1px 1px 0px rgba(28, 32, 36, 0.6))
            drop-shadow(1px -1px 0px white);
        }

        .icon {
          width: 30px;
          height: 30px;
          color: $color-primary-dark;
          filter: drop-shadow(-1px 1px 0px rgba(28, 32, 36, 0.4))
            drop-shadow(1px -1px 0px white);
          transition: color 0.3s ease; // On anime la couleur
        }
      }
    }

    // ---------- Placement individuel des icones :
    .mailCircleBase {
      bottom: 10%;
      left: -8.5%;
    }
    .whatsappCircleBase {
      bottom: -5%;
      left: 5%;
    }
    .linkedinCircleBase {
      bottom: -5%;
      right: 5%;
    }
  }
}
