@import '@/styles/variables';
@import '@/styles/mixins';

// .footer {
//   border: 1px solid black;

//   .thanksSection {
//     padding-bottom: 64px; // Ajout de l'espace en bas
//     // background-color: white;
//     position: relative;
//     z-index: 1;
//     border: 1px solid red;

//     .contentContainer {
//       position: relative;
//       z-index: 2;
//       display: flex;
//       flex-direction: column;

//       .separator {
//         width: 100%;
//         height: 4px;
//         background-color: black;
//       }

//       .thanksMessageContainer {
//         padding: 32px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 16px;

//         .thanksMessage {
//           font-size: 21px;
//           font-weight: 600;
//           text-transform: uppercase;
//         }
//       }
//     }

//     .layoutContainer {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       overflow: visible; // Permettre l'ombre de dépasser
//       z-index: 2; // S'assurer que ce conteneur est au-dessus de .carvedSection

//       border: 1px solid black;
//       // Pseudo-élément pour le drop shadow sur la coupure

//       .topLayout {
//         position: relative;
//         width: 100%;
//         height: 100%;
//         border: 1px solid orange;
//         background: linear-gradient(
//           45deg,
//           $color-slate-grey-6 0%,
//           $color-slate-grey-4 50%,
//           $color-slate-grey-2 80%
//         );
//         background-attachment: fixed;
//         background-size: cover;
//         clip-path: polygon(
//           0 0,
//           100% 0%,
//           100% 100%,
//           50% calc(100% - 64px),
//           0% 100%
//         );
//         /* Note : Le clip-path s'appliquera uniquement à .topLayout et non à son pseudo-élément désormais */
//       }
//     }
//   }

//   .carvedSection {
//     margin-bottom: -64px; // Annule l'espace superflu en bas du footer crée par la remontée de 64px de carvedSection
//     padding: 32px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 32px;
//     border: 1px solid blue;
//     background-color: aquamarine;

//     position: relative;
//     top: -64px; // Remontée de la section pour la superposer

//     .logoContainer {
//       width: 64px;
//       aspect-ratio: 1/1;
//       border-radius: 50%;
//       border: 1px solid black;
//     }

//     .navList {
//       display: flex;
//       flex-direction: column;
//       gap: 8px;
//       border: 1px solid black;

//       .navItem {
//         font-size: 12px;
//         text-transform: uppercase;
//         font-weight: 600;
//       }
//     }

//     .socialIcon {
//       display: flex;
//       gap: 16px;
//       .icon {
//         width: 32px;
//         aspect-ratio: 1/1;
//         border-radius: 50%;
//         border: 1px solid black;
//       }
//     }

//     .small {
//       text-align: center;
//       font-size: 10px;
//     }
//   }
// }

.footer {
  border: 1px solid black;

  .thanksSection {
    position: relative;
    z-index: 1;
    padding-bottom: calc(32px + 32px);
    /* 64px = pour que la section arrive au centre du logoContainer de la carvedSection
    32px (taille de l'espace entre le haut de carvedSection et logoContainer 
    32px (moitiée de la hauteur du logo container)
    */
    border: 1px solid red;

    background: linear-gradient(
      45deg,
      $color-slate-grey-6 0%,
      $color-slate-grey-4 50%,
      $color-slate-grey-2 80%
    );
    background-attachment: fixed;
    background-size: cover;

    .contentContainer {
      padding: 0 32px;
      display: flex;
      flex-direction: column;
      border: 1px solid black;

      .separator {
        width: 100%;
        height: 4px;
        background-color: black;
      }

      .thanksMessageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 32px 0;

        .thanksMessage {
          font-size: 21px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }

  .carvedSection {
    position: relative;
    top: -64px;
    margin-bottom: -64px; // Annule l'espace superflu en bas du footer crée par la remontée de 64px de carvedSection
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: aquamarine;
    border: 1px solid blue;

    .logoContainer {
      width: 64px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 1px solid black;
    }

    .rest {
      text-align: center;
      width: 100%;
      height: 100px;
      border: 1px solid black;
    }
  }
}
