@import '@/styles/variables';
@import '@/styles/mixins';

.header {
  z-index: 1000;
  position: fixed;
  width: 100%;

  .headerRibbon {
    position: relative;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    background: linear-gradient(
      45deg,
      $color-slate-grey-2 0%,
      $color-slate-grey-1 100%
    );

    background: linear-gradient(
      45deg,
      $color-slate-grey-3 0%,
      $color-slate-grey-2 50%,
      $color-slate-grey-1 80%
    );
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 5px;
      transform: rotate(-2deg);
      transform-origin: left bottom;
      box-shadow: 0px 5px 10px $color-slate-grey-12;
      /*------------------ Tablet -> Desktop ------------------*/
      @media (min-width: 768px) {
        transform: rotate(-1deg);
        /*------------------ to Desktop ------------------*/
        @media (min-width: 1280px) {
          transform: rotate(-0.5deg);
        }
      }
    }
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 6px;
      transform: rotate(2deg);
      transform-origin: right bottom;
      box-shadow: 0px 5px 10px $color-slate-grey-12;
      /*------------------ Tablet -> Desktop ------------------*/
      @media (min-width: 768px) {
        transform: rotate(1deg);
        /*------------------ to Desktop ------------------*/
        @media (min-width: 1280px) {
          transform: rotate(0.5deg);
        }
      }
    }
    /*------------------ Tablet -> Desktop ------------------*/
    @media screen and (min-width: 768px) {
      padding: 16px 24px;
      /*------------------ to Desktop ------------------*/
      @media screen and (min-width: 1280px) {
        padding: 16px 32px;
        gap: 32px;
      }
    }

    .logoContainer {
      flex: 1;
      /*------------------ to Desktop ------------------*/
      @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
      }
    }

    .navigationContainer {
      display: none;
      /*------------------ Tablet -> Desktop ------------------*/
      @media screen and (min-width: 768px) {
        display: flex;
        gap: 16px;
        border: 1px solid red;
        /*------------------ to Desktop ------------------*/
        @media screen and (min-width: 1280px) {
          width: 100%;
          max-width: 1280px;
          display: flex;
          justify-content: center;
          border: 1px solid blue;
        }
      }
    }

    .switcherContainer {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      /*------------------ to Desktop ------------------*/
      @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
      }

      .switcher {
        width: 64px;
        height: 16px;
        border: 1px solid black;
      }
    }
  }
}
