@import '@/styles/variables';
@import '@/styles/mixins';

//*------------ VARIANT POUR LA NAVIGATION MOBILE DANS LE HEADER ----------*
.headerMobileNav {
  .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .navItem {
      @include button-global(
        $width: 208px,
        /* 208 = 
      4x 40px -> Taille de chaque bouton de socialMedia
      + 16x3 = gap entre les boutons de socialMedia */
          $font-size: 14px,
        $bg:
          linear-gradient(
            to top,
            $color-slate-grey-6 0%,
            $color-slate-grey-1 80%,
            $color-slate-grey-2 100%
          ),
        $shadow: (
          0px 4px 3px 1px $color-slate-grey-1,
          0px 6px 8px $color-slate-grey-6,
          0px -4px 4px $color-slate-grey-7,
          0px -6px 4px $color-slate-grey-2,
          inset 0px 0px 3px $color-slate-grey-7,
        ),
        $hover-shadow: (
          0px 4px 3px 1px $color-slate-grey-1,
          0px 6px 8px $color-slate-grey-6,
          0px -4px 4px $color-slate-grey-7,
          0px -6px 4px $color-slate-grey-2,
          inset 0px 0px 3px 3px $color-slate-grey-7,
        ),
        $active-shadow: (
          0px 4px 3px 1px $color-slate-grey-1,
          0px 6px 8px $color-slate-grey-6,
          0px -4px 4px $color-slate-grey-7,
          0px -6px 4px $color-slate-grey-2,
          inset 0px 0px 5px 3px $color-slate-grey-8,
          inset 0px 0px 30px $color-slate-grey-7,
        )
      );
      /*------------------ Mobile grand format ------------------*/
      @media (min-width: 498px) {
        width: 50%;
      }
    }
  }
}

//*------------ VARIANT POUR LA NAVIGATION DESKTOP DANS LE HEADER ----------*

.headerNav {
  .navList {
    display: flex;

    .navItem {
      padding: 0 8px;
      border-right: 0.5px solid $color-slate-grey-12;
      font-size: 14px;
      font-weight: 600;
      color: transparent;
      background: $color-slate-grey-11;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      text-shadow: -2px 2px 2px rgba(255, 255, 255, 0.6);
      &:hover {
        background: $color-primary-dark;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: -2px 2px 2px rgba(255, 255, 255, 0.2);
      }
      &:last-child {
        border: none;
      }
      /*--------------- Laptop ---------------*/
      @media screen and (min-width: 1024px) {
        padding: 0 16px;
      }
    }
  }
}

//*------------ VARIANT POUR LA NAVIGATION DANS LE FOOTER ----------*
.footerNav {
  .navList {
    /*------------------ Tablet ------------------*/
    @media screen and (min-width: 768px) {
      display: flex;
    }
    .navItem {
      display: flex;
      justify-content: center;
      padding: 16px;
      border-top: 1px solid black;
      border-image: linear-gradient(
        90deg,
        rgba(0, 176, 189, 0),
        $color-teal-9,
        rgba(0, 176, 189, 0)
      );
      border-image-slice: 1;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      color: $color-primary-dark-darker;
      text-shadow: 0.25px -0.25px 0.5px $color-slate-grey-12,
        -0.25px 0.25px 0.5px $color-primary-light;
      &:hover {
        color: $color-teal-5;
        text-shadow: 0.25px -0.25px 0.5px $color-teal-1,
          -1px 1px 2px $color-slate-grey-12;
      }
      &:last-child {
        border-bottom: 1px solid black;
        border-image: linear-gradient(
          90deg,
          rgba(0, 176, 189, 0),
          $color-teal-9,
          rgba(0, 176, 189, 0)
        );
        border-image-slice: 1;
      }
      /*------------------ Tablet ------------------*/
      @media screen and (min-width: 768px) {
        padding: 0 16px;
        border: none;
        border-right: 0.5px solid black;
        border-image: linear-gradient(
          0deg,
          rgba(0, 176, 189, 0),
          $color-teal-4,
          rgba(0, 176, 189, 0)
        );
        border-image-slice: 1;
        &:last-child {
          border: none;
        }
      }
    }
  }
}
