@import '@/styles/variables';
@import '@/styles/mixins';

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /*--------------- Tablet -> Desktop ---------------*/
  @media screen and (min-width: 768px) {
    gap: 24px;
    /*--------------- to Desktop ---------------*/
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      margin: 0 auto;
      gap: 32px;
    }
  }

  .sectionTitle {
    @include section-title-home;
  }

  .ribbon {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 32px;
    @include ribbon-style;
    background: linear-gradient(
      15deg,
      $color-slate-grey-4 0%,
      $color-slate-grey-1 80%
    );
    /*--------------- Tablet -> Desktop ---------------*/
    @media screen and (min-width: 768px) {
      padding: 48px;
      /*--------------- to Desktop ---------------*/
      @media screen and (min-width: 1280px) {
        padding: 64px;
      }
    }

    .ctaContainer {
      /*--------------- Desktop ---------------*/
      @media screen and (min-width: 1280px) {
        max-width: 1280px;
        margin: 0 auto;
      }

      .ctaTitle {
        @include cta-title-style;
        /*--------------- Tablet L -> Laptop ---------------*/
        @media screen and (min-width: 834px) {
          width: calc(50% - 12px); // 12px = moitiée des gutters (24px)
          /*--------------- to Laptop ---------------*/
          @media screen and (min-width: 1024px) {
            width: 100%;
          }
        }
      }
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    /*--------------- Tablet -> Tablet L -> Laptop -> Desktop ---------------*/
    @media screen and (min-width: 768px) {
      gap: 24px;
      /*--------------- to Tablet L ---------------*/
      @media screen and (min-width: 834px) {
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, min-content);
        /*--------------- to Laptop ---------------*/
        @media screen and (min-width: 1024px) {
          grid-template-columns: repeat(12, 1fr);
          /*--------------- to Desktop ---------------*/
          @media screen and (min-width: 1280px) {
            margin-bottom: 64px;
            gap: 32px;
          }
        }
      }
    }

    .descriptions {
      display: flex;
      flex-direction: column;
      gap: 8px;
      /*--------------- to Tablet L -> laptop ---------------*/
      @media screen and (min-width: 834px) {
        grid-column: 1 / span 4;
        grid-row: 1;
        /*--------------- to Laptop ---------------*/
        @media screen and (min-width: 1024px) {
          grid-column: 1 / span 6;
        }
      }

      .description {
        @include text-style;
      }
      .emphasis {
        @include text-emphasis;
      }
    }

    .socialList {
      container-type: inline-size;
      container-name: social;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 16px;
      // Centrage mobile 3+1 :
      @container social (min-width: calc(150px * 3 + 16px * 2))
             and (max-width: calc(150px * 4 + 16px * 3 - 1px)) {
        /* 1) Dès que la largeur permet précisément 3 colonnes (entre env. 482px et 648px)
                2) On centre le 4ᵉ cercle sur la 2ᵉ colonne */
        .item:last-child {
          grid-column: 2;
        }
      }
      /*--------------- Tablet -> Tablet L -> Laptop -> Desktop ---------------*/
      @media screen and (min-width: 768px) {
        gap: 24px;
        // Centrage tablette 3+1 :
        @container social (min-width: calc(150px * 3 + 24px * 2))
             and (max-width: calc(150px * 4 + 24px * 3 - 1px)) {
          /* 1) Dès que la largeur permet précisément 3 colonnes (entre env. 482px et 648px)
                2) On centre le 4ᵉ cercle sur la 2ᵉ colonne */
          .item:last-child {
            grid-column: 2;
          }
        }
        /*--------------- to Tablet L ---------------*/
        @media screen and (min-width: 834px) {
          grid-column: 1 / span 4;
          grid-row: 2;
          /*--------------- to Laptop ---------------*/
          @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column: 1 / span 6;
            /*--------------- to Desktop ---------------*/
            @media screen and (min-width: 1280px) {
              gap: 32px;
              grid-column: 2 / span 4;
            }
          }
        }
      }

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        /*--------------- Tablet ---------------*/
        @media screen and (min-width: 768px) {
          gap: 24px;
        }

        .contactInfoLink {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;
          /*--------------- Tablet ---------------*/
          @media screen and (min-width: 768px) {
            gap: 8px;
          }
          &:hover {
            .contactAdress {
              color: $color-primary-dark;
              font-weight: 600;
            }
          }

          .contactLabel {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $color-primary-dark-darker;
          }

          .separator {
            width: 50%;
            height: 1px;
            border-bottom: 1px solid;
            border-image: linear-gradient(
              90deg,
              rgba(0, 176, 189, 0),
              rgba(28, 32, 36, 0.2),
              rgba(0, 176, 189, 0)
            );
            border-image-slice: 1;
            box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
          }

          .contactAdress {
            font-size: 10px;
            font-weight: 500;
            color: $color-slate-grey-12;
          }
        }
      }
    }

    .contactFormContainer {
      padding-top: 16px;
      /*--------------- Tablet L -> Laptop ---------------*/
      @media screen and (min-width: 834px) {
        padding-top: 0;
        grid-column: 5 / span 4;
        grid-row: 1 / 3;
        /*--------------- to Laptop ---------------*/
        @media screen and (min-width: 1024px) {
          grid-column: 7 / span 6;
        }
      }
    }
  }
}
