@import '@/styles/variables';
@import '@/styles/mixins';

@property --target {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@property --count {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
// Keyframes de l’animation de comptage
@keyframes countUp {
  to {
    --count: var(--target);
  }
}

.realisationsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /*--------------- Tablet -> Laptop -> Desktop ---------------*/
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
    /*--------------- to Laptop ---------------*/
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(12, 1fr);
      /*--------------- to Desktop ---------------*/
      @media screen and (min-width: 1280px) {
        max-width: 1280px;
        margin: 0 auto;
        gap: 32px;
      }
    }
  }

  .sectionTitle {
    @include section-title-home;
    /*--------------- Tablet -> Laptop  ---------------*/
    @media screen and (min-width: 768px) {
      grid-column: 1 / span 8;
      /*--------------- to Laptop ---------------*/
      @media screen and (min-width: 1024px) {
        grid-column: 1 / span 12;
      }
    }
  }

  .shapesContainer {
    container-type: inline-size;
    container-name: shapes;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    //---------- Centrage mobile 3+1
    // 1) Dès que la largeur permet précisément 3 colonnes (entre env. 482px et 648px)
    @container shapes (min-width: calc(150px * 3 + 16px * 2))
         and (max-width: calc(150px * 4 + 16px * 3 - 1px)) {
      // 2) On centre le 4ᵉ cercle sur la 2ᵉ colonne
      .object:last-child {
        grid-column: 2;
      }
    }
    /*--------------- Tablet -> Laptop  ---------------*/
    @media screen and (min-width: 768px) {
      grid-column: 1 / span 8;
      gap: 24px;
      // --------- Centrage tablette 3+1 (gap=24px) :
      @container shapes (min-width: calc(150px * 3 + 24px * 2))
      and (max-width: calc(150px * 4 + 24px * 3 - 1px)) {
        // 2) On centre le 4ᵉ cercle sur la 2ᵉ colonne
        .object:last-child {
          grid-column: 2;
        }
      }
      /*--------------- to Laptop ---------------*/
      @media screen and (min-width: 1024px) {
        grid-column: 1 / span 12;
        gap: 32px;
      }
    }

    .object {
      position: relative;
      aspect-ratio: 1/1;
      border-radius: 50%;
      transform: translateY(-10%); // On remonte de 10% ( espace inutilisé )
      // *---------- Ombre éliptique sous l'objet ----------*
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -7.5%;
        transform: translateX(-50%);
        width: 100%;
        height: 15%;
        background: radial-gradient(
          ellipse at center,
          rgba(28, 32, 36, 0.7) 10%,
          rgba(28, 32, 36, 0.4) 25%,
          rgba(28, 32, 36, 0.1) 50%,
          rgba(0, 0, 0, 0) 70%
        );
        filter: blur(5px);
      }

      .coloredHalfCircle {
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        /*
                       border-radius en syntaxe étendue : "0 0 50% 50% / 0 0 100% 100%"
                       => top-left corner  : 0  /  0
                          top-right corner : 0  /  0
                          bottom-right     : 50% / 100%
                          bottom-left      : 50% / 100%
                       Concrètement, pour un bloc de 100% × 50%, ça forme la moitié d'un vrai cercle.
                      */
        background: linear-gradient(
          45deg,
          $color-primary-dark 0%,
          $color-primary 75%
        );
        box-shadow: inset 2px -2px 0px rgba(28, 32, 36, 0.2),
          inset -2px 2px 0px rgba(255, 255, 255, 0.7);
      }

      .contentCircle {
        container-type: size;
        container-name: circle;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        aspect-ratio: 1/1;
        border-radius: inherit;
        background: linear-gradient(
          15deg,
          $color-slate-grey-1 0%,
          $color-slate-grey-5 100%
        );
        box-shadow: inset 2px -2px 0px rgba(28, 32, 36, 0.2),
          inset -2px 2px 0px $color-slate-grey-1,
          -8px 16px 16px -4px rgba(28, 32, 36, 0.4),
          -2px 4px 8px -2px rgba(28, 32, 36, 0.8);
        //----- Initialisation du compteur CSS :
        --count: 0;
        counter-reset: stat var(--count);

        .number {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          border-radius: 50% 50% 0% 0% / 100% 100% 0% 0%;
          font-size: 40px;
          font-weight: 700;

          //----- on affiche la variable et son suffixe :
          &::before {
            content: counter(stat);
          }
          &::after {
            content: attr(data-suffix);
            padding-left: 4px;
          }
          color: $color-primary-dark;
        }

        .text {
          height: 50%;
          padding: 16px 24px;
          display: flex;
          justify-content: center;
          text-align: center;
          border-radius: 0 0 50% 50% / 0 0 100% 100%;
          font-size: 14px;
          line-height: 1.2;
          // font-weight: 500;
          color: $color-primary-dark-darker;
        }
      }

      // 2) Pour chaque “tranche” de largeur de cercle, on règle taille du nombre & description :
      @container circle (min-width: 100px) and (max-width: 167px) {
        .contentCircle {
          .number {
            font-size: 28px;
          }
          .text {
            padding: 4px 24px;
            font-size: 12px;
          }
        }
      }
      @container circle (min-width: 167px) and (max-width: 217px) {
        .contentCircle {
          .number {
            font-size: 36px;
          }
          .text {
            font-size: 14px;
          }
        }
      }
      @container circle (min-width: 217px) {
        .contentCircle {
          .number {
            font-size: 40px;
          }
          .text {
            font-size: 14px;
          }
        }
      }

      // *---------- Effet mirroir / Reflet de l'objet ----------*
      .objectReflection {
        position: absolute;
        bottom: -50%;
        left: 0;
        transform: scaleY(-1); // on le retourne verticalement
        width: 100%;
        height: 50%;
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        background: linear-gradient(
          45deg,
          $color-primary-dark 0%,
          $color-primary 75%
        );
        opacity: 0.1;
        -webkit-mask-image: linear-gradient(
          to top,
          rgb(255, 0, 0) 0%,
          rgba(255, 0, 0, 0) 100%
        );
        mask-image: linear-gradient(
          to top,
          rgb(255, 0, 0) 0%,
          rgba(255, 0, 0, 0.2) 50%,
          rgba(255, 0, 0, 0) 100%
        );

        .contentCircleReflection {
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: $color-slate-grey-1;
        }
      }
    }

    //----- Quand JS ajoute `.in-view` sur .shapesContainer →  on déclenche l’animation :
    &.inView {
      .object {
        .contentCircle {
          animation: countUp 1.8s ease-out forwards;
          /* Effet "stagger" */
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              animation-delay: $i * 0.3s;
            }
          }
        }
      }
    }
  }
  .descriptionWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    /*--------------- Tablet -> Laptop -> Desktop  ---------------*/
    @media screen and (min-width: 768px) {
      grid-column: 3 / span 4;
      /*--------------- to Laptop ---------------*/
      @media screen and (min-width: 1024px) {
        grid-column: 5 / span 4;
        /*--------------- to Desktop ---------------*/
        @media screen and (min-width: 1280px) {
          gap: 40px;
        }
      }
    }

    .descriptionContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      /*--------------- Tablet ---------------*/
      @media screen and (min-width: 768px) {
        text-align: center;
      }

      .emphasis {
        @include text-emphasis;
      }

      .separator {
        display: none;
        /*--------------- Tablet ---------------*/
        @media screen and (min-width: 768px) {
          display: flex;
          width: 50%;
          height: 2px;
          border-radius: 16px;
          box-shadow: inset 0px 1px 1px rgba(28, 32, 36, 0.1),
            inset 0 -1px 1px white;
        }
      }

      .description {
        @include text-style;
        /*--------------- Tablet ---------------*/
        @media screen and (min-width: 768px) {
          padding: 0px 32px;
        }
      }
    }

    .button {
      @include button-global;
    }
  }
}
