@import '@/styles/variables';
@import '@/styles/mixins';

.pyramidContainer {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  min-width: 280px;
  max-width: 440px;
  margin: 0 auto;
  contain: paint;
  /*--------------- Laptop ---------------*/
  @media screen and (min-width: 1024px) {
    height: calc(100% + 24px + 12px);
    /* 40px = 
         24px = Padding globale
         + 12px = moitiée de padding de carte serviceDescription pour que la pointe de la pyramide arrive au milieu du padding
           */
    top: -40px; // Resultat de la height calculée au dessus
    /*------------------ Tablet ------------------*/
    @media screen and (min-width: 1280px) {
      max-width: none;
      aspect-ratio: auto;
      height: calc(100% + 32px + 16px);
      top: -48px;
      margin: 0;
    }
  }

  //*------------------- Etages & Plafonds -------------------*
  .base {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    z-index: 1;

    //*-------------- Etages ------------*
    .firstFloor,
    .secondFloor,
    .thirdFloor,
    .fourthFloor,
    .hatFloor {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      clip-path: polygon(0% 40%, 0% 30%, 50% 0%, 100% 30%, 100% 40%, 50% 10%);

      .darkSide {
        width: 50%;
        height: 100%;
        background: linear-gradient(
          45deg,
          transparent 0%,
          rgba(28, 32, 36, 0.3) 85%
        );
      }
    }

    .firstFloor {
      background-color: $color-teal-4;
    }
    .secondFloor {
      top: 20%;
      background-color: $color-teal-6;
    }
    .thirdFloor {
      top: 40%;
      background-color: $color-teal-9;
    }
    .fourthFloor {
      top: 60%;
      background-color: $color-teal-11;
    }
    .hatFloor {
      top: 80%;
      clip-path: polygon(0% 40%, 0% 30%, 50% 0%, 100% 30%, 100% 40%);
      background-color: $color-teal-12;
    }

    //*------------- Plafonds -------------*
    .firstFloorCeiling,
    .secondFloorCeiling,
    .thirdFloorCeiling,
    .fourthFloorCeiling {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .firstFloorCeiling {
      clip-path: polygon(15.2% 30.8%, 50% 10%, 85% 30.8%);
      background-color: $color-teal-4;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 31%;
        background: radial-gradient(
          at 50% 100%,
          rgba(28, 32, 36, 0.6) 0%,
          rgba(28, 32, 36, 0.4) 35%,
          transparent 100%
        );
        mix-blend-mode: multiply;
      }
    }
    .secondFloorCeiling {
      clip-path: polygon(22% 46.1%, 50% 30%, 78% 46.1%);
      background-color: $color-teal-6;
      &::before {
        content: '';
        position: absolute;
        top: 20%;
        width: 100%;
        height: 26.2%;
        background: radial-gradient(
          at 50% 100%,
          rgba(28, 32, 36, 0.6) 0%,
          rgba(28, 32, 36, 0.4) 35%,
          transparent 100%
        );
        mix-blend-mode: multiply;
      }
    }
    .thirdFloorCeiling {
      clip-path: polygon(26% 61.5%, 50% 50%, 70% 61.5%);
      background-color: $color-teal-9;
      &::before {
        content: '';
        position: absolute;
        top: 40%;
        width: 100%;
        height: 21.6%;
        background: radial-gradient(
          at 50% 100%,
          rgba(28, 32, 36, 0.6) 0%,
          rgba(28, 32, 36, 0.4) 35%,
          transparent 100%
        );
        mix-blend-mode: multiply;
      }
    }
    .fourthFloorCeiling {
      clip-path: polygon(35% 77%, 50% 70%, 65% 77%);
      background-color: $color-teal-11;
      &::before {
        content: '';
        position: absolute;
        top: 60%;
        width: 100%;
        height: 17%;
        background: radial-gradient(
          at 50% 100%,
          rgba(28, 32, 36, 0.6) 0%,
          rgba(28, 32, 36, 0.4) 35%,
          transparent 100%
        );
        mix-blend-mode: multiply;
      }
    }
  }

  .shadows {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 105%;
    clip-path: polygon(
      3.8% 26.3%,
      50% 0%,
      88.4% 22%,
      84.6% 29.4%,
      76% 33.9%,
      80.8% 36.6%,
      76.9% 44%,
      68% 48.5%,
      73.1% 51.2%,
      69.2% 58.6%,
      60.4% 63%,
      65.4% 65.9%,
      61.5% 73.4%,
      53% 78%,
      57.7% 80.5%,
      50% 95.2%,
      42.6% 100%,
      34.6% 85%,
      42.4% 80.5%,
      32.4% 80.5%,
      26.8% 70%,
      34.5% 66%,
      24.8% 66%,
      19.33% 55.7%,
      27% 51.2%,
      17% 51.4%,
      11.6% 41%,
      19.3% 36.6%,
      9.2% 36.5%
    );
    background: linear-gradient(
      63deg,
      transparent 27%,
      rgba(28, 32, 36, 0.2) 50%
    );
  }
}
