@import '@/styles/variables';
@import '@/styles/mixins';

.aboutContainer {
  will-change: transform;
  display: flex;
  flex-direction: column;
  gap: 48px;
  /*--------------- Tablet L -> Desktop ---------------*/
  @media screen and (min-width: 834px) {
    gap: 24px;
    /*--------------- to Desktop ---------------*/
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      margin: 0 auto;
      gap: 32px;
    }
  }

  .sectionTitle {
    @include section-title-home;
  }

  .cardFrame {
    /*--------------- Laptop ---------------*/
    @media screen and (min-width: 1080px) {
      position: relative;
      padding: 16px;
      border-radius: 16px;
      background: linear-gradient(
        45deg,
        $color-slate-grey-6 0%,
        $color-slate-grey-2 80%
      );
      box-shadow: inset 4px -4px 8px rgba(28, 32, 36, 0.4),
        inset -4px 4px 8px white, 2px 1px 1px rgba(28, 32, 36, 0.01),
        -6px 4px 4px rgba(28, 32, 36, 0.03),
        -15px 8px 8px rgba(28, 32, 36, 0.04),
        -26px 14px 14px rgba(28, 32, 36, 0.05),
        -40px 22px 22px rgba(28, 32, 36, 0.07),
        -58px 32px 32px rgba(28, 32, 36, 0.08),
        inset 0px 0px 4px 1px rgba(28, 32, 36, 0.2),
        -0.5px 0.5px 1px rgba(28, 32, 36, 0.4),
        0.5px -0.5px 1px rgba(28, 32, 36, 0.1);
      // *--------- Ombre portée (gauche) de la carte :
      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0px;
        left: -95%;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(
          -26deg,
          rgba(28, 32, 36, 0.1) 25%,
          transparent 51%
        );
        filter: blur(5px);
      }
      // *--------- Ombre eliptique (dessous) de la carte :
      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: -8px;
        left: -4px;
        width: 100%;
        height: 16px;
        border-radius: 50%;
        background: linear-gradient(
          0deg,
          transparent 0%,
          rgba(28, 32, 36, 0.8) 80%
        );
        filter: blur(2px);
      }
      // *--------- Reflet de la carte :
      .cardFrameReflect {
        z-index: -1;
        position: absolute;
        bottom: -48px;
        left: 0%;
        width: 100%;
        height: 48px;
        padding: 16px 16px 0;
        border-radius: 16px 16px 0 0;
        background-color: white;
        opacity: 0.8;
        mask-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.4) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        -webkit-mask-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.4) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        filter: blur(3px);
        /*--------------- to Desktop ---------------*/
        @media screen and (min-width: 1280px) {
          bottom: -64px;
          height: 64px;
        }

        .cardReflect {
          width: 100%;
          height: 100%;
          background-color: $color-slate-grey-1;
        }
      }
    }
    .card {
      /*--------------- Tablet L -> Laptop -> Desktop ---------------*/
      @media screen and (min-width: 834px) {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 32px;
        /*--------------- to Laptop ---------------*/
        @media screen and (min-width: 1080px) {
          position: relative;
          grid-template-columns: repeat(12, 1fr);
          gap: 24px;
          box-shadow: 2px -2px 4px rgba(28, 32, 36, 0.25), -2px 2px 4px white,
            inset -4px 4px 8px rgba(28, 32, 36, 0.05);
          /*--------------- to Desktop ---------------*/
          @media screen and (min-width: 1280px) {
            gap: 32px;
          }
        }
      }
      .leftColumn {
        /*--------------- Tablet L -> Laptop -> Desktop ---------------*/
        @media screen and (min-width: 834px) {
          padding: 24px 0 0 0;
          grid-column: 1 / span 3;
          /*--------------- to Laptop ---------------*/
          @media screen and (min-width: 1080px) {
            grid-column: 1 / span 5;
            padding: 24px 0 0 24px;
            /*--------------- to Desktop ---------------*/
            @media screen and (min-width: 1280px) {
              padding: 0px 8px 0 40px;
            }
          }
        }

        .imageCardFrame {
          position: relative;
          height: 420px;
          max-width: 320px;
          margin: 0 auto;
          padding: 16px;
          border-radius: 16px;
          background: linear-gradient(
            45deg,
            $color-slate-grey-6 0%,
            $color-slate-grey-3 80%
          );
          box-shadow: inset 4px -4px 8px rgba(28, 32, 36, 0.4),
            inset -4px 4px 8px white, 2px 1px 1px rgba(28, 32, 36, 0.01),
            -6px 4px 4px rgba(28, 32, 36, 0.03),
            -15px 8px 8px rgba(28, 32, 36, 0.04),
            -26px 14px 14px rgba(28, 32, 36, 0.05),
            -40px 22px 22px rgba(28, 32, 36, 0.07),
            -58px 32px 32px rgba(28, 32, 36, 0.08),
            inset 0px 0px 4px 1px rgba(28, 32, 36, 0.2),
            -0.5px 0.5px 1px rgba(28, 32, 36, 0.4),
            0.5px -0.5px 1px rgba(28, 32, 36, 0.1);
          // *--------- Ombre portée (gauche) de la carte :
          &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0px;
            left: -200%;
            width: 200%;
            height: 100%;
            border-radius: inherit;
            background: linear-gradient(
              -26deg,
              rgba(28, 32, 36, 0.1) 25%,
              transparent 51%
            );
            filter: blur(5px);
          }
          // *--------- Ombre eliptique (dessous) de la carte :
          &::after {
            content: '';
            z-index: -1;
            position: absolute;
            bottom: -8px;
            left: -4px;
            width: 100%;
            height: 16px;
            border-radius: 50%;
            background: linear-gradient(
              0deg,
              transparent 0%,
              rgba(28, 32, 36, 0.95) 80%
            );
            filter: blur(2px);
          }
          /*--------------- Tablet L -> Laptop -> Desktop ---------------*/
          @media screen and (min-width: 834px) {
            max-width: none;
            height: calc(
              100% - 24px - 48px
            ); // 32px = padding entre bouton et reste du contenu, 48px = taille du bouton
            /*--------------- to Laptop ---------------*/
            @media screen and (min-width: 1080px) {
              top: 24px;
              height: calc(
                100% + 24px + 16px
              ); // 24px = padding, 16px = taille bordure
              /*--------------- to Desktop ---------------*/
              @media screen and (min-width: 1280px) {
                top: 64px;
                height: calc(100% + 16px); // 16px = taille bordure
              }
            }
          }

          .imageCard {
            position: relative;
            height: 100%;
            box-shadow: 2px -2px 4px rgba(28, 32, 36, 0.25), -2px 2px 4px white,
              inset -4px 4px 8px rgba(28, 32, 36, 0.05);

            .image {
              object-fit: cover;
              height: calc(
                100% + 96px
              ) !important; // 96px = 64px (taille padding) + 32px (taille margin de la grid)
              top: -96px !important; // 96px = 64px (taille padding) + 32px (taille margin de la grid)
            }
          }

          // *----------- Reflet de la carte de la photo ------------*
          .imageCardFrameReflect {
            z-index: -1;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: calc(
              64px + 48px + 16px
            ); // 64 = 2x32px (taille padding haut + bas), 48px = taille des boutons, 16px = padding de quote
            padding: 0px 16px 16px;
            transform: scaleY(-1);
            border-radius: 0 0 16px 16px;
            background-color: white;
            opacity: 0.8;
            mask-image: linear-gradient(
              to top,
              rgba(255, 255, 255, 0.4) 0%,
              rgba(255, 255, 255, 0.2) 50%,
              rgba(255, 255, 255, 0) 100%
            );
            filter: blur(3px);
            border: 1px solid orange;
            /*--------------- Tablet L -> Laptop -> Desktop ---------------*/
            @media screen and (min-width: 834px) {
              height: calc(24px + 48px + 48px + 48px);
              /* 32px = padding entre carte et social,
           48px = taille des boutons,
           48px = espace restant avant la fin de la section (padding)
           48px = On rajoute 48px (padding) pour que le reflet continue 48px apres la fin de la section
           */
              /*--------------- to Laptop ---------------*/
              @media screen and (min-width: 1080px) {
                height: calc(48px + 48px);
                /*--------------- to Desktop ---------------*/
                @media screen and (min-width: 1280px) {
                  height: calc(64px + 64px);
                }
              }
            }

            .imageCardReflect {
              position: relative;
              width: 100%;
              height: 100%;
              opacity: 0.4;

              .image {
                object-fit: cover;
                object-position: 50% 100%;
                border-radius: inherit;
              }
            }
          }
        }

        .socialContainer {
          position: relative;
          padding: 24px;
          display: flex;
          justify-content: center;
          gap: 16px;
          &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 2px;
            border-radius: 16px;
            box-shadow: inset 0px 1px 1px rgba(28, 32, 36, 0.1),
              inset 0 -1px 1px white;
            /*--------------- Laptop ---------------*/
            @media screen and (min-width: 1080px) {
              display: none;
            }
          }
          /*--------------- Laptop -> Desktop ---------------*/
          @media screen and (min-width: 1080px) {
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding: 24px;
            flex-direction: column;
            gap: 8px;
            /*--------------- to Desktop ---------------*/
            @media screen and (min-width: 1280px) {
              padding: 32px;
            }
          }
        }
      }

      .rightColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        /*--------------- Tablet L -> Laptop -> Desktop ---------------*/
        @media screen and (min-width: 834px) {
          grid-column: 4 / span 5;
          align-items: baseline;
          gap: 24px;
          /*--------------- to Laptop ---------------*/
          @media screen and (min-width: 1080px) {
            padding: 32px 24px 32px 0;
            grid-column: 6 / span 7;
            gap: 32px;
            /*--------------- to Desktop ---------------*/
            @media screen and (min-width: 1280px) {
              padding: 40px 32px 32px 0;
              gap: 40px;
            }
          }
        }

        .quote {
          padding: 0px 32px;
          text-align: center;
          @include text-emphasis;
          /*--------------- Tablet -> Tablet L -> Laptop -> Desktop ---------------*/
          @media screen and (min-width: 768px) {
            padding: 0 96px;
            /*--------------- to Tablet L  ---------------*/
            @media screen and (min-width: 834px) {
              padding: 0 16px;
              /*--------------- to Laptop ---------------*/
              @media screen and (min-width: 1080px) {
                padding: 0 48px;
                /*--------------- to Desktop ---------------*/
                @media screen and (min-width: 1280px) {
                  padding: 0 64px;
                }
              }
            }
          }
        }

        .separator {
          width: 50%;
          height: 8px;
          border-radius: 16px;
          background: linear-gradient(45deg, #007782 0%, #00b0bd 100%);
          box-shadow: 2px -2px 4px rgba(28, 32, 36, 0.2), -2px 2px 4px white,
            inset -2px 2px 4px rgba(28, 32, 36, 0.8);
        }

        .presentationContainer {
          padding: 24px 16px;
          display: flex;
          flex-direction: column;
          gap: 24px;
          border-radius: 16px;
          box-shadow: inset -2px 2px 4px rgba(28, 32, 36, 0.4),
            inset 2px -2px 4px rgba(255, 255, 255, 0.8),
            2px -2px 4px rgba(28, 32, 36, 0.05);
          /*--------------- Tablet -> Tablet L -> Laptop -> Desktop ---------------*/
          @media screen and (min-width: 768px) {
            padding: 32px;
            /*--------------- Tablet ---------------*/
            @media screen and (min-width: 834px) {
              padding: 0;
              box-shadow: none;
              /*--------------- to Laptop ---------------*/
              @media screen and (min-width: 1080px) {
                padding-right: 48px;
                /*--------------- to Desktop ---------------*/
                @media screen and (min-width: 1280px) {
                  padding-right: 64px;
                }
              }
            }
          }

          .presentationTitles {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .name {
              font-size: 24px;
              font-weight: 600;
              text-transform: uppercase;
              background: radial-gradient(
                ellipse farthest-corner at right center,
                $color-primary 0%,
                $color-primary-dark 68%,
                $color-primary-dark-darker 100%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;

              .small {
                font-weight: 300;
              }
            }

            .role {
              font-size: 12px;
              font-weight: 500;
              text-transform: uppercase;
              letter-spacing: 2px;
              color: $color-primary-dark-darker;
            }
          }

          .descriptionsContainer {
            display: flex;
            flex-direction: column;
            gap: 16px;
            @include text-style;
          }
        }

        .button {
          @include button-global;
        }
      }
    }
  }
}
