.introductionSection {
  height: calc(100vh - 100px);
  border: 1px solid black;

  .shapesContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    overflow: hidden;

    .contentDiamond {
      //* Création de ce diamant pour pouvoir gérer les z-index qui sont ingérable avec le transform rotate
      z-index: 2;
      position: absolute;
      width: calc(100% / sqrt(2));
      max-width: calc(400px / sqrt(2));
      min-width: calc(280px / sqrt(2));
      transform: rotate(45deg);
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid red;
      background-color: grey;
      // background-color: red;

      .textContainer {
        transform: rotate(-45deg);
        border: 1px solid yellow;
      }
    }

    .decorationDiamonds {
      //* Ce diamand va servir de base pour la création des autres diamants décoratifs
      position: relative;
      width: calc(100% / sqrt(2));
      max-width: calc(400px / sqrt(2));
      min-width: calc(280px / sqrt(2));
      transform: rotate(45deg);
      aspect-ratio: 1/1;
      border: 1px solid orange;

      .diamond2,
      .diamond3,
      .diamond4,
      .diamond5,
      .diamond6,
      .diamond7 {
        position: absolute;
        aspect-ratio: 1/1;
      }

      .diamond2 {
        z-index: 1;
        bottom: -60%; /* Place the square at the bottom */
        left: 50%; /* Align the left edge of the square to the center */
        transform: translateX(-50%); /* Center the square horizontally */
        width: 72.31%;

        border: 1px solid blue;
        background-color: lightgrey;
      }

      .diamond3 {
        bottom: 86%;
        left: 78%;
        width: 67.69%;

        border: 1px solid blue;
      }

      .diamond4 {
        bottom: 107%;
        left: 8%;
        width: 58.46%;

        border: 1px solid green;
      }

      .diamond5 {
        top: 62%;
        right: 112%;
        width: 50.77%;

        border: 1px solid green;
      }

      .diamond6 {
        top: 130%;
        right: 83%;
        width: 47.69%;

        border: 1px solid yellowgreen;
        background-color: grey;
      }

      .diamond7 {
        bottom: 29%;
        left: 112%;
        width: 46.15%;

        border: 1px solid yellowgreen;
      }

      // * Polygones pour effet 3D avec ombres en dégradés autour des diamants
      .polygon3,
      .polygon4,
      .polygon5,
      .polygon6,
      .polygon7 {
        position: absolute;
        top: 50%; // postionne le polygone au centre absolu du diamant
        left: 50%; // postionne le polygone au centre absolu du diaman

        background-color: rgba(255, 0, 255, 0.14);
      }
      .polygon3 {
        width: 400%;
        height: 400%;
        transform: translate(-50%, -50%) rotate(266deg);
        clip-path: polygon(50% 50%, 57.4% 74.6%, 75.5% 58.9%);
      }
      .polygon4 {
        width: 200%;
        height: 200%;
        transform: translate(-50%, -50%) rotate(210deg);
        clip-path: polygon(50% 50%, 56.7% 79.2%, 82.3% 64.4%);
      }
      .polygon5 {
        width: 380%;
        height: 380%;
        transform: translate(-50%, -50%) rotate(107deg);
        clip-path: polygon(50% 50%, 61.7% 77.4%, 70.7% 60.87%);
        background-color: rgba(255, 0, 255, 0.14);
      }
      .polygon6 {
        z-index: -1;
        width: 400%;
        height: 400%;
        transform: translate(-50%, -50%) rotate(74deg);
        clip-path: polygon(50% 50%, 63.7% 74.96%, 78.46% 66.78%);
      }

      .polygon7 {
        z-index: -1;
        width: 200%;
        height: 200%;
        transform: translate(-50%, -50%) rotate(318deg);
        clip-path: polygon(50% 50%, 66% 78.7%, 81.4% 61.3%);
      }
    }
  }
}
