@import '@/styles/variables';
@import '@/styles/mixins';

.headerLogo {
  display: flex;
  flex-direction: column;
  gap: 8px;

  svg {
    width: 48px;
    height: 48px;
  }

  .logoCaption {
    // font-size: 8px;
    // font-weight: 600;
    // text-transform: uppercase;
    // letter-spacing: 4.3px;
    display: none;
  }
}

.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  filter: drop-shadow(-2px 2px 2px $color-slate-grey-12);

  svg {
    width: 128px;
    height: 128px;
  }

  .logoCaption {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6.5px;
    color: $color-teal-4;
  }
}
