@import '@/styles/variables';
@import '@/styles/mixins';

.logoContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  filter: drop-shadow(-2px 2px 2px black);

  .logo {
    /*------------------ to Destkop ------------------*/
    @media screen and (min-width: 1280px) {
      width: 128px;
      height: 128px;
    }
  }

  .logoCaption {
    font-size: 8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4.3px;
    color: $color-teal-4;
    /*------------------ to Destkop ------------------*/
    @media screen and (min-width: 1280px) {
      font-size: 10px;
      letter-spacing: 6.6px;
    }
  }
}
