@import '@/styles/variables';
@import '@/styles/mixins';

.heroRibbon {
  padding: 40px 32px 0;
  @include ribbon-style;
  /*------------------ Tablet -> Desktop ------------------*/
  @media screen and (min-width: 768px) {
    background: white;
    padding: 0 48px;
    /*------------------ to Desktop ------------------*/
    @media screen and (min-width: 1280px) {
      padding: 0 64px;
    }
  }

  .skewedContainer {
    /*------------------ Tablet ------------------*/
    @media screen and (min-width: 768px) {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: skewX(10deg) translateX(-50%);
      background: linear-gradient(
        15deg,
        $color-slate-grey-4 0%,
        $color-slate-grey-1 80%
      );
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -16px;
        width: 16px;
        height: 100%;
        background: radial-gradient(
          ellipse 70% 100% at 0% 50%,
          rgba(28, 32, 36, 0.4) 0%,
          rgba(28, 32, 36, 0.2) 25%,
          rgba(28, 32, 36, 0.05) 50%,
          rgba(28, 32, 36, 0.025) 70%,
          transparent 100%
        );
      }
    }
  }

  .contentContainer {
    /*------------------ Tablet -> Desktop ------------------*/
    @media screen and (min-width: 768px) {
      max-width: 1280px;
      margin: 0 auto;
      display: flex;
      align-items: stretch; // Etire la hauteur des enfants.
      gap: 24px;
      /*------------------ to Desktop ------------------*/
      @media screen and (min-width: 1280px) {
        gap: 32px;
      }
    }
    .ctaSection {
      /*------------------ Tablet ------------------*/
      @media screen and (min-width: 768px) {
        width: 50%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .heroTitle {
        @include cta-title-style;
      }

      .descriptions {
        padding: 32px 0 40px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include text-style;
      }

      .buttonsContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        /*------------------ Tablet ------------------*/
        @media screen and (min-width: 768px) {
          flex-direction: row;
          flex-wrap: wrap;
          @media screen and (min-width: 1098px) {
            gap: 40px;
          }
        }
      }
    }

    .imageSection {
      position: relative;
      height: 400px;
      min-width: 216px;
      margin: 0 auto;
      mix-blend-mode: multiply;
      /*------------------ Tablet ------------------*/
      @media screen and (min-width: 768px) {
        width: 50%;
        height: 618px;
        /*------------------ to Laptop ------------------*/
        @media screen and (min-width: 1100px) {
          height: 518px;
        }
      }
      .image {
        object-fit: contain;
      }
    }
  }
}
