@import '@/styles/variables';
@import '@/styles/mixins';

// .main {
//   padding-top: 100px; // taille du Header
//   border: 1px solid black;

//   .introductionSection {
//     height: calc(100svh - 100px); // 100px = taille du Header
//     padding: 20px;
//     /*------------------ Desktop------------------*/
//     @media screen and (min-width: 768px) {
//       padding: 0;
//       display: flex;
//       justify-content: center;
//     }
//   }

//   .heroSection {
//     padding: 20px 0 0;
//     /*------------------ Desktop------------------*/
//     @media screen and (min-width: 768px) {
//       padding: 0; // padding géré dans .presentationSection
//       height: 62svh;
//     }
//   }

//   .aboutSection {
//     padding: 40px 20px;
//     display: flex;
//     justify-content: center;
//     border: 1px solid red;
//     /*------------------ Tablet to Desktop-----------------*/
//     @media screen and (min-width: 768px) {
//       padding: 80px 80px 0;
//       /*------------------ Desktop------------------*/
//       @media screen and (min-width: 1188px) {
//         height: calc(100svh - 100px);
//         padding: 80px;
//       }
//     }
//   }

//   .aboutv3Section {
//     padding: 40px 20px;
//     display: flex;
//     justify-content: center;
//     /*------------------ Tablet to Desktop ------------------*/
//     @media screen and (min-width: 768px) {
//       height: calc(100svh - 100px);
//       padding: 80px 40px;
//       /*------------------ to desktop ------------------*/
//       @media screen and (min-width: 1200px) {
//         padding: 80px;
//       }
//     }
//   }

//   .servicesSection {
//     display: flex;
//     justify-content: center;
//     /*------------------ Tablet to  laptop to Desktop ------------------*/
//     @media screen and (min-width: 868px) {
//       padding: 0px 40px;
//       /*------------------ to laptop ------------------*/
//       @media screen and (min-width: 1024px) {
//         padding: 80px 40px;
//         /*------------------ to desktop ------------------*/
//         @media screen and (min-width: 1200px) {
//           padding: 80px;
//         }
//       }
//     }
//   }

//   .realisationsSection {
//     padding: 80px 40px;
//     display: flex;
//     justify-content: center;
//     /*------------------ Tablet to Laptop to Desktop ------------------*/
//     @media screen and (min-width: 768px) {
//       padding: 80px 40px;
//       /*------------------ to Laptop ------------------*/
//       @media screen and (min-width: 1024px) {
//         padding: 0px 40px 80px;
//         /*------------------ to Desktop ------------------*/
//         @media screen and (min-width: 1200px) {
//           padding: 0px 80px 80px;
//         }
//       }
//     }
//   }

//   .contactSection {
//     padding: 0 20px;
//     display: flex;
//     justify-content: center;
//     border: 1px solid red;
//     /*------------------ Tablet to Desktop ------------------*/
//     @media screen and (min-width: 768px) {
//       padding: 0 40px;
//       /*------------------ to Desktop ------------------*/
//       @media screen and (min-width: 1200px) {
//         padding: 0px 80px;
//       }
//     }
//   }
// }

.main {
  padding-top: 80px; // taille du Header

  .introductionSection {
    height: calc(100svh - 80px); // 80px = taille du Header
    padding: 32px;
    border: 1px solid blue;
    /*--------------- Tablet ---------------*/
    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }

  .heroSection {
    padding: 32px 0;
    border: 1px solid blue;
    /*--------------- Tablet ---------------*/
    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }

  .aboutSection {
    // contain: paint;
    padding: 32px;
    border: 1px solid blue;
    /*--------------- Tablet -> Laptop -> Desktop ---------------*/
    @media screen and (min-width: 768px) {
      padding: 96px 48px 48px;
      /*--------------- to Laptop ---------------*/
      @media screen and (min-width: 1080px) {
        padding: 96px 48px 96px;
        /*--------------- to Desktop ---------------*/
        @media screen and (min-width: 1280px) {
          padding: 128px 64px 128px;
        }
      }
    }
  }

  .servicesSection {
    padding: 120px;
  }
}
